@model List<Financeiro>
@{
    ViewData["Title"] = "Parcelas Em Aberto";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/css/tabelas.css" />
}

<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <form role="form" asp-controller="Financeiro" asp-action="DemostraParcelasEmAberto" method="get">
                    <div class="row">
                        <div class="col-md-5">
                            <label name="Inicial">Data Inicial</label>
                            <input name="Inicial" value="@ViewBag.Inicial.ToString("yyyy-MM-dd")" type="date" class="form-control" />
                        </div>
                        <div class="col-md-5">
                            <label name="Final">Data Final</label>
                            <input name="Final" value='@ViewBag.Final.ToString("yyyy-MM-dd")' type="date" class="form-control" />
                        </div>
                        <div class="col-md-2" style="padding-top: 32px;">
                            <button type="submit" class="btn btn-success">Filtrar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 container">

            </div>

        </div>
    </div>
    <div class="card-body" id="card-body">
        <div class="table-responsive">
            <table class="table table-sm align-items-center table-hover table-flush dataTable no-footer" id="dataTable" cellspacing="0">
                <thead class="thead-light">
                    <tr class="small">
                        <th>Aluno</th>
                        <th>Nome</th>
                        <th>Responsável Financeiro</th>
                        <th class="text-center">CPF Responsável</th>
                        <th class="text-center">Valor</th>
                        <th class="text-center">Vendimento</th>
                        <th class="text-center">Vencido</th>
                        <th class="text-center">Lançar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var financeiro in Model)
                    {
                        <tr>
                            <td>@financeiro.Aluno.Nome</td>
                            <td>@financeiro.Nome</td>
                            <td>@(financeiro.PacoteCompra == null ? financeiro.Aluno.Nome : financeiro.PacoteCompra.Matricula.RespFinanceiro.Nome)</td>
                            <td class="text-center">@(financeiro.PacoteCompra == null ? financeiro.Aluno.CPF : financeiro.PacoteCompra.Matricula.RespFinanceiro.CPF)</td>
                            <td class="text-center">@financeiro.Valor</td>
                            <td class="text-center">@financeiro.DataVencimento.ToString("dd/MM/yyyy")</td>
                            <td class="text-center">@(financeiro.DataVencimento < DateTime.Now ? "Sim" : "Não")</td>
                            <td class="text-center">
                                <div class="avatar-group">
                                    <a data-toggle="tooltip" data-placement="top" title="Lançar" class="avatar avatar-sm bg-success" asp-controller="Financeiro" asp-action="Form" asp-route-alunoId="@financeiro.AlunoId" asp-route-financeiroId="@financeiro.Id"><i class="fas fa-dollar-sign text-xl"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}

