@model List<Aula>
@{
    ViewData["Title"] = "Dashboard";
}
@section Styles {
    <link href="~/css/Index.css" rel="stylesheet" />
}

@{
    var horarios = Model.OrderBy(a => a.Data.Hour).Select(a => a.Data.Hour).Distinct().ToList();


}



<div class="card shadow">
    <div class="card-header border-0">
        <h3 class="mb-0">@NowHorarioBrasilia.GetNow().ToString("dddd").ToUpper()</h3>
    </div>
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Hora</th>
                    <th scope="col">Professor</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Tipo Aula</th>
                    <th scope="col">Alunos</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var aula in Model.OrderBy(a => a.Data))
                {
                    var statusAula = "";

                    if (aula.AulaDada == true) { statusAula = "dada"; }
                    else if (aula.Data > NowHorarioBrasilia.GetNow()) { statusAula = "pendente"; }
                    else if (NowHorarioBrasilia.GetNow() > aula.Data.AddHours(1)) { statusAula = "atrasada"; }
                   ;
                    <tr onclick="aula(@aula.Id,'@(User.IsInRole("Professor") ? true : false)')" class="link @(statusAula == "dada" ? "bg-success text-white" 
                                        : statusAula == "pendente" ? "" : statusAula == "atrasada" ? "bg-danger text-white"
                                        : "bg-primary text-white")">
                        <th scope="row">@aula.Data.ToString("HH:00")</th>
                        <th scope="row">
                            <div class="media align-items-center">
                                <a href="#" class="avatar rounded-circle mr-3">
                                    @if (aula.Professor.Foto == null)
                                    {
                                        <img alt="Image" src="~/img/user.png" />
                                    }
                                    else
                                    {
                                        <img alt="Image" src="@aula.Professor.Foto" />
                                    }
                                </a>
                                <div class="media-body">
                                    <span class="mb-0 text-sm">@aula.Professor.Nome.TrimStart()</span>
                                </div>
                            </div>
                        </th>
                        <td class="text-center">
                            @(statusAula == "dada" ? "Dada"
                                        : statusAula == "pendente" ? "Pendente" : statusAula == "atrasada" ? "Atrasada"
                                        : "Em andamento")
                        </td>
                        <td class="text-center">
                            <i class="fas fa-@(aula.Chamadas.Any(c => c.PacoteCompra.PacoteAula.TipoAula == TipoAula.INDIVIDUAL) ? "user" : "users")"></i>
                        </td>
                        <td>
                            <div class="avatar-group">
                                @foreach (var chamada in aula.Chamadas)
                                {
                                    <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="@chamada.PacoteCompra.Matricula.Aluno.Nome">

                                        @if (chamada.PacoteCompra.Matricula.Aluno.Foto == null)
                                        {
                                            <img alt="Image" src="~/img/user.png" class="rounded-circle" />
                                        }
                                        else
                                        {
                                            <img alt="Image" src="@chamada.PacoteCompra.Matricula.Aluno.Foto" class="rounded-circle" />
                                        }
                                    </a>
                                }
                                @foreach (var demonstrativa in aula.Demostrativas)
                                {
                                    <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="(D) @demonstrativa.Candidato.Nome - @Html.DisplayFor(d => demonstrativa.Confirmado)">
                                            <img alt="Image" src="~/img/user.png" class="rounded-circle" />                                       
                                    </a>
                                }
                            </div>
                        </td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@section Scripts{ 
    <script src="~/js/index.js" type="text/javascript"></script>
}