@model MatriculaViewModel
@{
    ViewData["Title"] = "Form";
}

@section Styles{
    <link href="~/css/Estrelas.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <h2>Matricula</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="jumbotron">
            <h1 class="display-4">@Model.Aluno.Nome</h1>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <b>Curso: </b>
                    <span>
                        @if (Model.DispSala.Id != null)
                        {
                            @Model.Curso.Nome <span> - </span> @Html.DisplayFor(d => d.DispSala.Dia) <span> às </span> @Model.DispSala.Hora.ToString("00:'00'h") <span> com </span> @Model.DispSala.Professor.Nome
                        }
                    </span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <b>Responsál Financeiro: </b>@Model.RespFinanceiro.Nome @(Model.RespFinanceiro.Id == null ? "" : "-") @Model.RespFinanceiro.CPF
                </div>
            </div>
            <br />

            <br />
            <div class="row">
                <div class="col-md-3">
                    <p>
                        <a class="btn btn-success col-md-12" data-toggle="collapse" href="#dispAula" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-music"></i> Curso
                        </a>
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        <a class="btn btn-success col-md-12" data-toggle="collapse" href="#respFinanceiro" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-money-check-alt"></i> Respónsavel financeiro
                        </a>
                    </p>
                </div>
            </div>

            <div class="collapse" id="dispAula">
                <div class="card card-body">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="dataTable" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Curso</th>
                                        <th class="text-center">Dia</th>
                                        <th class="text-center">Hora</th>
                                        <th>Período</th>
                                        <th>Sala</th>
                                        <th>Professor</th>
                                        <th class="text-center">Vagas</th>
                                        <th>Selecionar</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Curso</th>
                                        <th class="text-center">Dia</th>
                                        <th class="text-center">Hora</th>
                                        <th>Período</th>
                                        <th>Sala</th>
                                        <th>Professor</th>
                                        <th class="text-center">Vagas</th>
                                        <th>Selecionar</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var dispSala in Model.DispSalas)
                                    {
                                        @foreach (var curso in dispSala.Professor.Cursos)
                                        {
                                            var cs = dispSala.Matriculas.FirstOrDefault();
                                            Curso cursoCompara = null;
                                            if (cs != null)
                                            {
                                                cursoCompara = cs.Curso;
                                            }

                                            if (curso.Curso == cursoCompara || cursoCompara == null)
                                            {
                                                <tr>
                                                    <td c>@curso.Curso.Nome</td>
                                                    <td class="text-center">@Html.DisplayFor(d => dispSala.Dia)</td>
                                                    <td class="text-center">@dispSala.Hora.ToString("00:'00'h")</td>
                                                    <td>
                                                        @if (dispSala.Hora < 12)
                                                        {
                                                            <span>Manhã</span>
                                                        }
                                                        else if (dispSala.Hora < 19)
                                                        {
                                                            <span>Tarde</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Noite</span>
                                                        }
                                                    </td>
                                                    <td>@dispSala.Sala.Nome</td>
                                                    <td>@dispSala.Professor.Nome</td>
                                                    <td class="text-center">
                                                        @(dispSala.Sala.Capacidade - dispSala.Matriculas.Count)
                                                        <!-- Button trigger modal -->
                                                        <a class="btn text-primary" data-toggle="modal" data-target="#exampleModalLong@(dispSala.Id)">
                                                            <i class="fas fa-users text-info"></i>
                                                        </a>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModalLong@(dispSala.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                            <div class="modal-dialog" style="max-width: 50%" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLongTitle">Alunos matriculados neste horário</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body text-left">
                                                                        <table class="table table-sm">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col">Aluno</th>
                                                                                    <th scope="col" class="text-center">Idade</th>
                                                                                    <th scope="col" class="text-center">Módulo</th>
                                                                                    <th scope="col" class="text-center">Estrelas</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @foreach (var matricula in dispSala.Matriculas)
                                                                                {
                                                                                    int now = int.Parse(DateTime.Now.ToString("yyyyMMdd"));
                                                                                    int dob = int.Parse(matricula.Aluno.DataNascimento.ToString("yyyyMMdd"));
                                                                                    int age = (now - dob) / 10000;
                                                                                    <tr>
                                                                                        <td>@matricula.Aluno.Nome</td>
                                                                                        <td class="text-center">@age @(age > 1 ? "anos" : "ano")</td>
                                                                                        <td class="text-center">@matricula.Modulo</td>
                                                                                        <td>
                                                                                            <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                                                                                <input asp-for="@matricula.Estrelas" disabled type="radio" id="star5" value="5" /><label for="star5" title="5 star"></label>
                                                                                                <input asp-for="@matricula.Estrelas" disabled type="radio" id="star4" value="4" /><label for="star4" title="4 star"></label>
                                                                                                <input asp-for="@matricula.Estrelas" disabled type="radio" id="star3" value="3" /><label for="star3" title="3 star"></label>
                                                                                                <input asp-for="@matricula.Estrelas" disabled type="radio" id="star2" value="2" /><label for="star2" title="2 star"></label>
                                                                                                <input asp-for="@matricula.Estrelas" disabled type="radio" id="star1" value="1" /><label for="star1" title="1 star"></label>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a asp-action="Form" class="btn btn-success" asp-route-cursoId="@(curso.CursoId)"
                                                           asp-route-alunoId="@(Model.Aluno.Id)"
                                                           asp-route-respFinanceiroId="@(Model.RespFinanceiro.Id)"
                                                           asp-route-dispSalaId="@(dispSala.Id)">Selecionar</a>

                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="collapse @(ViewBag.Collapse == "respFinanceiro" ? "show" : "")" id="respFinanceiro">
                <div class="card card-body">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-md-7">
                                    <h2 class="col-md-10">Responsável Financeiro</h2>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-outline-primary" id="carregarAluno">Carregar dados do aluno</button>
                                </div>
                                <div class="col-md-2">
                                    <a asp-action="Form"
                                       asp-route-alunoId="@Model.Aluno.Id"
                                       asp-route-cursoId="@Model.Curso.Id"
                                       asp-route-dispSalaId="@Model.DispSala.Id"
                                       asp-route-collapse="respFinanceiro"
                                       class="btn btn-primary">Novo</a>
                                </div>
                            </div>
                            <br />
                            <div class="list-group">
                                <div class="list-group-item">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><i class="fas fa-search"></i> Buscar Por Nome</label>
                                            <input id="BuscaNome" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="list-group">
                                <div class="list-group-item">
                                    <form role="form" method="post" asp-action="CadastraRespFinanceiro">

                                        <input asp-for="RespFinanceiro.Id" value="@Model.RespFinanceiro.Id" type="hidden" />
                                        <input asp-for="RespFinanceiro.Endereco.Id" type="hidden" />
                                        <input asp-for="RespFinanceiro.EnderecoId" type="hidden" />
                                        <input asp-for="Aluno.Id" type="hidden" />
                                        <input asp-for="Curso.Id" type="hidden" />
                                        <input asp-for="DispSala.Id" type="hidden" />

                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Nome"></label>
                                                    <input asp-for="RespFinanceiro.Nome" class="form-control" />
                                                    <span asp-validation-for="RespFinanceiro.Nome" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.DataNascimento">Nascimento</label>
                                                    <input asp-for="RespFinanceiro.DataNascimento" class="form-control" type="date" />
                                                    <span asp-validation-for="RespFinanceiro.DataNascimento" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.RG"></label>
                                                    <input asp-for="RespFinanceiro.RG" class="form-control mask-rg" />
                                                    <span asp-validation-for="RespFinanceiro.RG" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.CPF"></label>
                                                    <input asp-for="RespFinanceiro.CPF" class="form-control mask-cpf" />
                                                    <span asp-validation-for="RespFinanceiro.CPF" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Endereco.Logradouro"></label>
                                                    <input asp-for="RespFinanceiro.Endereco.Logradouro" class="form-control" />
                                                    <span asp-validation-for="RespFinanceiro.Endereco.Logradouro" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Endereco.Numero"></label>
                                                    <input asp-for="RespFinanceiro.Endereco.Numero" class="form-control" />
                                                    <span asp-validation-for="RespFinanceiro.Endereco.Numero" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Endereco.Bairro"></label>
                                                    <input asp-for="RespFinanceiro.Endereco.Bairro" class="form-control" />
                                                    <span asp-validation-for="RespFinanceiro.Endereco.Bairro" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Endereco.Complemento"></label>
                                                    <input asp-for="RespFinanceiro.Endereco.Complemento" class="form-control" />
                                                    <span asp-validation-for="RespFinanceiro.Endereco.Complemento" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Endereco.Cidade"></label>
                                                    <input asp-for="RespFinanceiro.Endereco.Cidade" class="form-control" />
                                                    <span asp-validation-for="RespFinanceiro.Endereco.Cidade" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Endereco.UF" class="col-md-12 control-label"></label>
                                                    <div class="col-md-10">
                                                        <select asp-for="RespFinanceiro.Endereco.UF" class="form-control" asp-items="Html.GetEnumSelectList<UF>()">
                                                            <option selected="selected" value=""></option>
                                                        </select>
                                                        <span asp-validation-for="RespFinanceiro.Endereco.UF" class="text-danger" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Endereco.CEP"></label>
                                                    <input asp-for="RespFinanceiro.Endereco.CEP" class="form-control mask-cep" />
                                                    <span asp-validation-for="RespFinanceiro.Endereco.CEP" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Tel"></label>
                                                    <input asp-for="RespFinanceiro.Tel" class="form-control mask-tel" />
                                                    <span asp-validation-for="RespFinanceiro.Tel" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Cel"></label>
                                                    <input asp-for="RespFinanceiro.Cel" class="form-control mask-tel" />
                                                    <span asp-validation-for="RespFinanceiro.Cel" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Email">E-mail</label>
                                                    <input asp-for="RespFinanceiro.Email" class="form-control" />
                                                    <span asp-validation-for="RespFinanceiro.Email" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox">
                                                        @if (Model.RespFinanceiro.Id == null)
                                                        {
                                                            <label asp-for="RespFinanceiro.Ativo">
                                                                <input asp-for="RespFinanceiro.Ativo" checked />
                                                                @Html.DisplayNameFor(p => p.RespFinanceiro.Ativo)
                                                            </label>
                                                        }
                                                        else
                                                        {
                                                            <label asp-for="RespFinanceiro.Ativo">
                                                                <input asp-for="RespFinanceiro.Ativo" />
                                                                @Html.DisplayNameFor(p => p.RespFinanceiro.Ativo)
                                                            </label>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success">@(Model.RespFinanceiro.Id == null ? "Incluir" : "Alterar")</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-4">
            <p>Após escolher o <b>Curso</b> e <b>Responsável financeiro</b> finalize a matricual clicando em <b>Matricular</b>.</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Matricular
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="max-width: 70%!important;" role="document">
                    <div class="modal-content">
                        <form role="form" method="post" asp-action="Form">
                            <input asp-for="Aluno.Id" type="hidden" />
                            <input asp-for="Curso.Id" type="hidden" />
                            <input asp-for="DispSala.Id" type="hidden" />
                            <input asp-for="RespFinanceiro.Id" value="@Model.RespFinanceiro.Id" type="hidden" />
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Taxas de Matrícula</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @for (int i = 0; i < Model.TaxasMatricula.Count; i++)
                                {
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="Financeiros[i].Nome"></label>
                                                <input class="form-control" readonly asp-for="Financeiros[i].Nome" value="@Model.TaxasMatricula[i].Nome" />
                                                <span asp-validation-for="Financeiros[i].Nome" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="Financeiros[i].Valor"></label>
                                                <input class="form-control" readonly asp-for="Financeiros[i].Valor" value="@Model.TaxasMatricula[i].Valor" />
                                                <span asp-validation-for="Financeiros[i].Valor" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Financeiros[i].DataVencimento"></label>
                                                <input class="form-control" type="date" asp-for="Financeiros[i].DataVencimento" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                                <span asp-validation-for="Financeiros[i].DataVencimento" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label asp-for="Financeiros[i].Desconto"></label>
                                            <input class="form-control" asp-for="Financeiros[i].Desconto" />
                                            <span asp-validation-for="Financeiros[i].Desconto" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Financeiros[i].FormaPagamento" class="control-label"></label>
                                                <div class="">
                                                    <select asp-for="Financeiros[i]. FormaPagamento" class="form-control col-12" asp-items="@Html.GetEnumSelectList<FormaPagamento>()"></select>
                                                    <span asp-validation-for="Financeiros[i].FormaPagamento" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    if (i < Model.TaxasMatricula.Count - 1)
                                    {
                                        <hr />
                                    }
                                }
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-primary">Realizar Matricula</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/js/Buscas/MatriculaRespFinanceiro.js"></script>
}