@model MatriculaViewModel
@{
    ViewData["Title"] = "Form";
}

<div asp-validation-summary="All"></div>
<div class="row">
    <div class="col-md-12">
        <h2>Matricula</h2>
        <div class="jumbotron">
            <h1 class="display-4">@Model.Aluno.Nome</h1>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <b>Curso: </b>
                    <span>
                        @if (Model.DispSala.Id != null)
                        {
                            @Model.Curso.Nome <span> - </span> @Html.DisplayFor(d => d.DispSala.Dia) <span> às </span> @Model.DispSala.Hora.ToString("00:'00'h") <span> com </span> @Model.DispSala.Professor.Nome
                        }
                    </span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <b>Responsál Financeiro: </b>@Model.RespFinanceiro.Nome @(Model.RespFinanceiro.Id == null ? "" : "-") @Model.RespFinanceiro.CPF
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <b>Pacote de aula: </b>Grupo 44 aulas com 44 aulas por R$ 2.280,00 em 12x de R$ 190,00
                </div>
            </div>
            <br />

            <br />
            <div class="row">
                <div class="col-md-3">
                    <p>
                        <a class="btn btn-success col-md-12" data-toggle="collapse" href="#dispAula" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-music"></i> Curso
                        </a>
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        <a class="btn btn-success col-md-12" data-toggle="collapse" href="#respFinanceiro" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-money-check-alt"></i> Respónsavel financeiro
                        </a>
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        <a class="btn btn-success col-md-12" data-toggle="collapse" href="#pacoteAula" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-box-open"></i> Pacote de aula
                        </a>
                    </p>
                </div>
            </div>

            <div class="collapse" id="dispAula">
                <div class="card card-body">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Curso</th>
                                        <th class="text-center">Dia</th>
                                        <th class="text-center">Hora</th>
                                        <th>Período</th>
                                        <th>Sala</th>
                                        <th>Professor</th>
                                        <th>Selecionar</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Curso</th>
                                        <th class="text-center">Dia</th>
                                        <th class="text-center">Hora</th>
                                        <th>Período</th>
                                        <th>Sala</th>
                                        <th>Professor</th>
                                        <th>Selecionar</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var dispSala in Model.DispSalas)
                                    {
                                        @foreach (var curso in dispSala.Professor.Cursos)
                                        {
                                            <tr>
                                                <td c>@curso.Curso.Nome</td>
                                                <td class="text-center">@Html.DisplayFor(d => dispSala.Dia)</td>
                                                <td class="text-center">@dispSala.Hora.ToString("00:'00'h")</td>
                                                <td>
                                                    @if (dispSala.Hora < 12)
                                                    {
                                                        <span>Manhã</span>
                                                    }
                                                    else if (dispSala.Hora < 19)
                                                    {
                                                        <span>Tarde</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Noite</span>
                                                    }
                                                </td>
                                                <td>@dispSala.Sala.Nome</td>
                                                <td>@dispSala.Professor.Nome</td>
                                                <td>
                                                    <a asp-action="Form" class="btn btn-success" asp-route-cursoId="@(curso.CursoId)"
                                                       asp-route-alunoId="@(Model.Aluno.Id)"
                                                       asp-route-respFinanceiroId="@(Model.RespFinanceiro.Id)" 
                                                       asp-route-dispSalaId="@(dispSala.Id)">Selecionar</a>

                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="collapse @(ViewBag.Collapse == "respFinanceiro" ? "show" : "")" id="respFinanceiro">
                <div class="card card-body">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-md-11">
                                    <h2 class="col-md-10">Responsável Financeiro</h2>
                                </div>
                                <div class="col-md-1">
                                    <a asp-action="Form" 
                                        asp-route-alunoId="@Model.Aluno.Id" 
                                        asp-route-cursoId="@Model.Curso.Id"
                                        asp-route-dispSalaId="@Model.DispSala.Id"
                                        asp-route-collapse="respFinanceiro"
                                        class="btn btn-primary">Novo</a>
                                </div>
                            </div>
                            <br />
                            <div class="list-group">
                                <div class="list-group-item">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><i class="fas fa-search"></i> Buscar Por Nome</label>
                                            <input id="BuscaNome" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="list-group">
                                <div class="list-group-item">
                                    <form role="form" method="post" asp-action="CadastraRespFinanceiro">

                                        <input asp-for="RespFinanceiro.Id" type="hidden" />
                                        <input asp-for="Aluno.Id" type="hidden" id="alunoId"/>
                                        <input asp-for="Curso.Id" type="hidden" id="cursoId" />
                                        <input asp-for="DispSala.Id" type="hidden" id="dispSalaId" />
                                        <input asp-for="PacoteAula.Id" type="hidden" id="pacoteAulaId" />

                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Nome"></label>
                                                    <input asp-for="RespFinanceiro.Nome" class="form-control" />
                                                    <span asp-validation-for="RespFinanceiro.Nome" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.DataNascimento">Nascimento</label>
                                                    <input asp-for="RespFinanceiro.DataNascimento" class="form-control" type="date" />
                                                    <span asp-validation-for="RespFinanceiro.DataNascimento" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.RG"></label>
                                                    <input asp-for="RespFinanceiro.RG" class="form-control mask-rg" />
                                                    <span asp-validation-for="RespFinanceiro.RG" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.CPF"></label>
                                                    <input asp-for="RespFinanceiro.CPF" class="form-control mask-cpf" />
                                                    <span asp-validation-for="RespFinanceiro.CPF" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Endereco.Logradouro"></label>
                                                    <input asp-for="RespFinanceiro.Endereco.Logradouro" class="form-control" />
                                                    <span asp-validation-for="RespFinanceiro.Endereco.Logradouro" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Endereco.Numero"></label>
                                                    <input asp-for="RespFinanceiro.Endereco.Numero" class="form-control" />
                                                    <span asp-validation-for="RespFinanceiro.Endereco.Numero" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Endereco.Bairro"></label>
                                                    <input asp-for="RespFinanceiro.Endereco.Bairro" class="form-control" />
                                                    <span asp-validation-for="RespFinanceiro.Endereco.Bairro" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Endereco.Complemento"></label>
                                                    <input asp-for="RespFinanceiro.Endereco.Complemento" class="form-control" />
                                                    <span asp-validation-for="RespFinanceiro.Endereco.Complemento" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Endereco.Cidade"></label>
                                                    <input asp-for="RespFinanceiro.Endereco.Cidade" class="form-control" />
                                                    <span asp-validation-for="RespFinanceiro.Endereco.Cidade" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Endereco.UF" class="col-md-12 control-label"></label>
                                                    <div class="col-md-10">
                                                        <select asp-for="RespFinanceiro.Endereco.UF" class="form-control" asp-items="Html.GetEnumSelectList<UF>()">
                                                            <option selected="selected" value=""></option>
                                                        </select>
                                                        <span asp-validation-for="RespFinanceiro.Endereco.UF" class="text-danger" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Endereco.CEP"></label>
                                                    <input asp-for="RespFinanceiro.Endereco.CEP" class="form-control mask-cep" />
                                                    <span asp-validation-for="RespFinanceiro.Endereco.CEP" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Tel"></label>
                                                    <input asp-for="RespFinanceiro.Tel" class="form-control mask-tel" />
                                                    <span asp-validation-for="RespFinanceiro.Tel" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Cel"></label>
                                                    <input asp-for="RespFinanceiro.Cel" class="form-control mask-tel" />
                                                    <span asp-validation-for="RespFinanceiro.Cel" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RespFinanceiro.Email">E-mail</label>
                                                    <input asp-for="RespFinanceiro.Email" class="form-control" />
                                                    <span asp-validation-for="RespFinanceiro.Email" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="checkbox">
                                                        @if (Model.RespFinanceiro.Id == null)
                                                        {
                                                            <label asp-for="RespFinanceiro.Ativo">
                                                                <input asp-for="RespFinanceiro.Ativo" checked />
                                                                @Html.DisplayNameFor(p => p.RespFinanceiro.Ativo)
                                                            </label>
                                                        }
                                                        else
                                                        {
                                                            <label asp-for="RespFinanceiro.Ativo">
                                                                <input asp-for="RespFinanceiro.Ativo" />
                                                                @Html.DisplayNameFor(p => p.RespFinanceiro.Ativo)
                                                            </label>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success">@(Model.RespFinanceiro.Id == null ? "Incluir" : "Alterar")</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="collapse" id="pacoteAula">
                <div class="card card-body">
                    <div class="card-body">
                        <div class="table-responsive">
                            Pacotes de aula
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-4">
            <p>Após escolher o <b>Curso</b>, <b>Responsável financeiro</b> e <b>Pacote de aula</b> finalize a matricual clicando em <b>Matricular</b>.</p>
            <form role="form" method="post" asp-action="Form">
                <input asp-for="Aluno.Id" hidden="hidden" />
                <input asp-for="Curso.Id" hidden="hidden" />
                <input asp-for="DispSala.Id" hidden="hidden" />
                <button type="submit" class="btn btn-primary btn-lg">Matricular</button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/js/Buscas/MatriculaRespFinanceiro.js"></script>
}