@model List<Demostrativa>
@{
    ViewData["Title"] = "Demostrativas Abertas";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/css/tabelas.css" />
}

<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-xl-11 col-md-10">
                <i class="fas fa-chalkboard-teacher"></i>
                Demostrativas abertas
            </div>
        </div>

    </div>
    <div class="card-body" id="card-body">
        <div class="table-responsive">
            <table class="table table-sm align-items-center table-hover table-flush dataTable no-footer" id="dataTable" cellspacing="0">
                <thead class="thead-light">
                    <tr class="small">
                        <th class="text-center">Data</th>
                        <th>Nome</th>
                        <th>Curso</th>
                        <th>Professor</th>
                        <th>Confirmada</th>
                        <th class="text-center">Demostrativa</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var Demostrativa in Model)
                    {

                        var candidatoSobrenome = Demostrativa.Candidato.Nome.Split(' ')[1];
                        if (candidatoSobrenome.Length > 0 && candidatoSobrenome.Length <= 2)
                        {
                            candidatoSobrenome = Demostrativa.Candidato.Nome.Split(' ')[2];
                        }
                        var professorSobrenome = Demostrativa.Professor.Nome.Split(' ')[1];
                        if (professorSobrenome.Length > 0 && professorSobrenome.Length <= 2)
                        {
                            professorSobrenome = Demostrativa.Professor.Nome.Split(' ')[2];
                        }
                        var aula = Demostrativa.Aula.AulaDada ? Demostrativa.Presenca != null && Demostrativa.Presenca.Value ? "Presente" : "Faltou" : "Aula não lançada";
                        <tr>
                            <td class="text-center"><span data-toggle="tooltip" data-placement="top" title="@Html.DisplayFor(d => Demostrativa.Dia)">@Demostrativa.Aula.Data.ToString("dd/MM/yyy - HH:mm'h'")</span></td>
                            <td><span  data-toggle="tooltip" data-placement="top" title="@Demostrativa.Candidato.Nome">@Demostrativa.Candidato.Nome.Split(' ')[0] @candidatoSobrenome</span></td>
                            <td><span data-toggle="tooltip" data-placement="top" title="@aula">@Demostrativa.Curso.Nome</span></td>
                            <td><span data-toggle="tooltip" data-placement="top" title="@Demostrativa.Professor.Nome">@Demostrativa.DispSala.Professor.Nome.Split(' ')[0] @professorSobrenome</span></td>
                            <td>
                                <select asp-for="@Demostrativa" id="confirm@(Demostrativa.Id)" onchange="Confimacao('confirm@(Demostrativa.Id)',@Demostrativa.Id)" class="form-control" asp-items="Html.GetEnumSelectList<Confirmado>()">
                                    <option value="@Demostrativa.Confirmado">@Html.DisplayFor(d => Demostrativa.Confirmado)</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <div class="avatar-group">
                                    <a data-toggle="tooltip" data-placement="top" title="Demonstrativa" class="avatar avatar-sm bg-warning" asp-controller="Candidato" asp-action="Candidato" asp-route-candidatoId="@Demostrativa.CandidatoId"><i class="fas fa-chalkboard-teacher"></i></a>
                                </div>                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/js/Demostrativa.js"></script>
}

