@model Aluno
@{
    ViewData["Title"] = "Aluno";
}

<h2>@Model.Nome</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="dados-tab" data-toggle="tab" href="#dados" role="tab" aria-controls="dados" aria-selected="true">Dados</a>
    </li>
    @foreach (var matricula in Model.Matriculas)
    {
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#@matricula.Curso.Nome@matricula.Id" role="tab" aria-controls="@matricula.Curso.Nome@matricula.Id" aria-selected="false">@matricula.Curso.Nome</a>
        </li>
    }
    <li class="nav-item">
        <a asp-action="Form" class="nav-link" asp-controller="Matricula" asp-route-alunoId="@(Model.Id)"><i class="fas fa-plus-square text-success"></i></a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="dados" role="tabpanel" aria-labelledby="dados-tab">
        <br />
        <div class="row">
            <div class="col-md-3"><b>Nome: </b>@Model.Nome</div>
            <div class="col-md-3"><b>Data de Nascimento: </b>@Model.DataNascimento.ToString("dd/MM/yyyy")</div>
            <div class="col-md-3"><b>CPF: </b>@Model.CPF</div>
            <div class="col-md-3"><b>RG: </b>@Model.RG</div>
        </div>
        <div class="row">
            <div class="col-md-3"><b>Logradouro: </b>@Model.Endereco.Logradouro</div>
            <div class="col-md-3"><b>Número: </b>@Model.Endereco.Numero</div>
            <div class="col-md-3"><b>Bairro: </b>@Model.Endereco.Bairro</div>
            <div class="col-md-3"><b>Complemento: </b>@Model.Endereco.Complemento</div>
        </div>
        <div class="row">
            <div class="col-md-3"><b>Cidade: </b>@Model.Endereco.Cidade</div>
            <div class="col-md-3"><b>UF: </b>@Model.Endereco.UF</div>
            <div class="col-md-3"><b>CEP: </b>@Model.Endereco.CEP</div>
            <div class="col-md-3"><b>E-Mail: </b>@Model.Email</div>
        </div>
        <div class="row">
            <div class="col-md-3"><b>Telefone: </b>@Model.Tel</div>
            <div class="col-md-3"><b>Celular: </b>@Model.Cel</div>
            <div class="col-md-3"><b>Ativo: </b><input asp-for="@Model.Ativo" onclick="return false" /></div>
        </div>
        <br />
        <a asp-action="Form" asp-route-alunoId="@Model.Id" class="btn btn-primary">Alterar</a>
    </div>
    @foreach (var matricula in Model.Matriculas)
    {
        <div class="tab-pane fade" id="@matricula.Curso.Nome@matricula.Id" role="tabpanel" aria-labelledby="profile-tab">
            <br />
            <h2>@matricula.Curso.Nome</h2>
            <b>@Html.DisplayFor(d => matricula.DispSala.Dia)</b> às <b>@matricula.DispSala.Hora.ToString("00:'00'h")</b> com <b>@matricula.DispSala.Professor.Nome</b>
            <br /><br />
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-group">
                        <li class="list-group-item active">Pacotes de Aula <a class="btn btn-success"><i class="fas fa-plus-circle"></i></a></li>
                        <li class="list-group-item">
                            <table class="table table-sm table-hover">
                                <tbody>
                                    <tr class="row">
                                        <td class="col-md-3">Pacote 44 aulas</td>
                                        <td class="col-md-4">
                                            <div class="progress" style="margin-top: .30rem;">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: 27.27272727%" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100">12 aulas</div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Calendário de aulas">
                                                <a><i class="far fa-calendar-alt btn text-info"></i></a>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Contrato">
                                                <a><i class="far fa-file-pdf btn text-danger"></i></a>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Trancar">
                                                <a><i class="far fa-pause-circle btn text-success"></i></a>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cancelar">
                                                <a><i class="far fa-times-circle btn text-danger"></i></a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    }
</div>


