@model Aluno
@{
    ViewData["Title"] = "Aluno";
}

<h2>@Model.Nome</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="dados-tab" data-toggle="tab" href="#dados" role="tab" aria-controls="dados" aria-selected="true">Dados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="financeiro-tab" data-toggle="tab" href="#financeiro" role="tab" aria-controls="financeiro" aria-selected="true"><i class="fas fa-dollar-sign text-success"></i> Financeiro</a>
    </li>
    @foreach (var matricula in Model.Matriculas)
    {
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#curso@(matricula.Id)" role="tab" aria-controls="curso@(matricula.Id)" aria-selected="false"><i class="fas fa-music text-success"></i> @matricula.Curso.Nome</a>
        </li>
    }
    <li class="nav-item">
        <a style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-bottom: 1px;" class="nav-link btn btn-outline-success" asp-controller="Matricula" asp-action="Form" asp-route-alunoId="@Model.Id"><i class="fas fa-plus-circle"></i> Matricular</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="dados" role="tabpanel" aria-labelledby="dados-tab">
        <br />
        <div class="row">
            <div class="col-md-3"><b>Nome: </b>@Model.Nome</div>
            <div class="col-md-3"><b>Data de Nascimento: </b>@Model.DataNascimento.ToString("dd/MM/yyyy")</div>
            <div class="col-md-3"><b>CPF: </b>@Model.CPF</div>
            <div class="col-md-3"><b>RG: </b>@Model.RG</div>
        </div>
        <div class="row">
            <div class="col-md-3"><b>Logradouro: </b>@Model.Endereco.Logradouro</div>
            <div class="col-md-3"><b>Número: </b>@Model.Endereco.Numero</div>
            <div class="col-md-3"><b>Bairro: </b>@Model.Endereco.Bairro</div>
            <div class="col-md-3"><b>Complemento: </b>@Model.Endereco.Complemento</div>
        </div>
        <div class="row">
            <div class="col-md-3"><b>Cidade: </b>@Model.Endereco.Cidade</div>
            <div class="col-md-3"><b>UF: </b>@Model.Endereco.UF</div>
            <div class="col-md-3"><b>CEP: </b>@Model.Endereco.CEP</div>
            <div class="col-md-3"><b>E-Mail: </b>@Model.Email</div>
        </div>
        @{ 
            if (Model.Cel == null)
            {
                Model.Cel = "";
            }
            var cel = string.Empty;
            for (int i = 0; i < Model.Cel.Length; i++)
            {
                if (Char.IsDigit(Model.Cel[i]))
                {
                    cel += Model.Cel[i];
                }
            }
        }
        <div class="row">
            <div class="col-md-3"><b>Telefone: </b>@Model.Tel</div>
            <div class="col-md-3"><b>Celular: </b><a target="_blank" href="http://api.whatsapp.com/send?1=pt_BR&phone=55@(cel)">@Model.Cel</a></div>
            <div class="col-md-3"><b>Sexo: </b>@Html.DisplayFor(l => Model.Sexo)</div>
            @*<div class="col-md-3"><b>Ativo: </b><input asp-for="@Model.Ativo" onclick="return false" /></div>*@
            <div class="col-md-12"><b>Observação: </b>@Model.Observacao</div>
        </div>
        <br />
        <a asp-action="Form" asp-route-alunoId="@Model.Id" class="btn btn-primary">Alterar</a>
    </div>

    <div class="tab-pane fade" id="financeiro" role="tabpanel" aria-labelledby="financeiro-tab">
        <br />
        @await Html.PartialAsync("_Financeiro")
    </div>

    @foreach (var matricula in Model.Matriculas)
    {
        <div class="tab-pane fade" id="curso@(matricula.Id)" role="tabpanel" aria-labelledby="profile-tab">
            <br />
            <h2>
                @matricula.Curso.Nome@if (matricula.EncerramentoMatricula == null)
                            {

                                <!-- Button trigger modal -->
                                 <strong> - </strong><button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal@(matricula.Id)">
                                    <i class="far fa-times-circle"></i> Cancelar Matrícula
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal@(matricula.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Cancelar matrícula</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form asp-controller="Matricula" asp-action="CancelaMatricula" method="post">
                                                <div class="modal-body">
                                                    <div class="container">
                                                        <input name="Id" value="@matricula.Id" type="hidden" />
                                                        <div class="form-group">
                                                            <h5>Motivo</h5>
                                                            <select name="Motivo" class="form-control" asp-items="Html.GetEnumSelectList<Motivo>()"></select>
                                                        </div>
                                                        <div class="form-group">
                                                            <h5>Outros</h5>
                                                            <input name="Outros" class="form-control" />
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                                    <button type="submit" class="btn btn-primary">Cancelar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
            </h2>

            @if (matricula.DispSala != null)
            {
                <span><b>@Html.DisplayFor(d => matricula.DispSala.Dia)</b> às <b>@matricula.DispSala.Hora.ToString("00:'00'h")</b> com <b>@matricula.DispSala.Professor.Nome</b> - <b>@matricula.DispSala.Sala.Nome</b> - <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Trocar horário"><a asp-controller="Matricula" asp-action="TrocaDispSala" asp-route-matriculaId="@matricula.Id" class="btn btn-outline-primary"><i class="fas fa-exchange-alt"></i> Trocar Horário</a></span></span>
            }
            else
            {
                <p>Matricula cancelada</p>
            }
            <p><b>Responsável financeiro: <a asp-controller="RespFinanceiro" asp-action="Form" asp-route-respFinanceiroId="@matricula.RespFinanceiroId">@matricula.RespFinanceiro.Nome</a></b> <b>Telefone:</b> @matricula.RespFinanceiro.Tel <b>Celular:</b> @matricula.RespFinanceiro.Cel</p>
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-group">
                        <li class="list-group-item active">
                            @if (matricula.DispSala != null)
                            {<a asp-controller="PacoteCompra" asp-action="Form" asp-route-matriculaId="@matricula.Id" class="btn btn-success"><i class="fas fa-plus-circle"></i> Adicionar Pacote</a>}
                        </li>
                        <li class="list-group-item">
                            <table class="table table-sm table-hover">
                                <tbody>
                                    @foreach (var pacoteCompra in matricula.PacoteCompras)
                                    {
                                        var totalAulas = pacoteCompra.Chamadas.Count;
                                        var aulasFeitas = pacoteCompra.Chamadas.Where(c => c.Aula.AulaDada == true).ToList().Count;
                                        double porcentagem = 100;
                                        if (totalAulas > 0)
                                        {
                                            porcentagem = 100 * aulasFeitas / totalAulas;
                                        }
                                        <tr class="row">
                                            <td class="col-md-3">@pacoteCompra.PacoteAula.Nome</td>
                                            <td class="col-md-4">
                                                <div class="progress" style="margin-top: .30rem;">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: @porcentagem%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">@aulasFeitas aulas</div>
                                                </div>
                                            </td>
                                            @if (pacoteCompra.Chamadas.Count > 0)
                                            {
                                                <td>
                                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Calendário de aulas">
                                                        <a asp-controller="PacoteCompra" asp-action="PacoteCompra" asp-route-pacoteCompraId="@pacoteCompra.Id"><i class="far fa-calendar-alt btn text-info"></i></a>
                                                    </span>
                                                </td>
                                            }
                                            <td>
                                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Contrato">
                                                    <a asp-controller="Contrato" asp-action="Contrato" asp-route-pacoteCompraId="@pacoteCompra.Id" target="_blank"><i class="far fa-file-pdf btn text-danger"></i></a>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Trancar">
                                                    <a asp-controller="Trancamento" , asp-action="Form" asp-route-pacoteCompraId="@pacoteCompra.Id"><i class="far fa-pause-circle btn text-success"></i></a>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cancelar">
                                                    <a asp-controller="PacoteCompra" asp-action="CancelarPacote" asp-route-pacoteCompraId="@pacoteCompra.Id"><i class="far fa-times-circle btn text-danger"></i></a>
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    }
</div>


@section Scripts
    {
    <script>
        $("a#cancelaMatricula").click(function () {
            var cf = confirm("Tem certeza que deseja cancelar essa matrícula?");
            if (cf == true) {
                return true;
            }
            else {
                return false;
            }
        });

        $(function () {
            $('[data-toggle="popover"]').popover()

        });

    </script>
}