@model Aluno
@{
    ViewData["Title"] = "Aluno";
}

<h2>@Model.Nome</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="dados-tab" data-toggle="tab" href="#dados" role="tab" aria-controls="dados" aria-selected="true">Dados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="financeiro-tab" data-toggle="tab" href="#financeiro" role="tab" aria-controls="financeiro" aria-selected="true"><i class="fas fa-dollar-sign text-success"></i> Financeiro</a>
    </li>
    @foreach (var matricula in Model.Matriculas)
    {
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#@matricula.Curso.Nome@matricula.Id" role="tab" aria-controls="@matricula.Curso.Nome@matricula.Id" aria-selected="false">@matricula.Curso.Nome</a>
        </li>
    }
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="dados" role="tabpanel" aria-labelledby="dados-tab">
        <br />
        <div class="row">
            <div class="col-md-3"><b>Nome: </b>@Model.Nome</div>
            <div class="col-md-3"><b>Data de Nascimento: </b>@Model.DataNascimento.ToString("dd/MM/yyyy")</div>
            <div class="col-md-3"><b>CPF: </b>@Model.CPF</div>
            <div class="col-md-3"><b>RG: </b>@Model.RG</div>
        </div>
        <div class="row">
            <div class="col-md-3"><b>Logradouro: </b>@Model.Endereco.Logradouro</div>
            <div class="col-md-3"><b>Número: </b>@Model.Endereco.Numero</div>
            <div class="col-md-3"><b>Bairro: </b>@Model.Endereco.Bairro</div>
            <div class="col-md-3"><b>Complemento: </b>@Model.Endereco.Complemento</div>
        </div>
        <div class="row">
            <div class="col-md-3"><b>Cidade: </b>@Model.Endereco.Cidade</div>
            <div class="col-md-3"><b>UF: </b>@Model.Endereco.UF</div>
            <div class="col-md-3"><b>CEP: </b>@Model.Endereco.CEP</div>
            <div class="col-md-3"><b>E-Mail: </b>@Model.Email</div>
        </div>
        <div class="row">
            <div class="col-md-3"><b>Telefone: </b>@Model.Tel</div>
            <div class="col-md-3"><b>Celular: </b>@Model.Cel</div>
            <div class="col-md-3"><b>Ativo: </b><input asp-for="@Model.Ativo" onclick="return false" /></div>
        </div>
        <br />
        <a asp-action="Form" asp-route-alunoId="@Model.Id" class="btn btn-primary">Alterar</a>
    </div>

    <div class="tab-pane fade" id="financeiro" role="tabpanel" aria-labelledby="financeiro-tab">
        <br />
        <ul class="list-group">
            <li class="list-group-item active">Histórico Financeiro</li>
            <li class="list-group-item">
                <table class="table table-sm table-hover small">
                    <thead>
                        <tr class="small">
                            <th scope="col">Nome</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Desconto</th>
                            <th scope="col">Multa</th>
                            <th scope="col">Total</th>
                            <th scope="col">Valor Pago</th>
                            <th scope="col">Forma de Pagamento</th>
                            <th scope="col">Data de Criação</th>
                            <th scope="col">Data de Vencimento</th>
                            <th scope="col">Responsável</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var financeiro in Model.Financeiros)
                        {
                            if (financeiro.Valor == null) { financeiro.Valor = 0; }
                            if (financeiro.Desconto == null) { financeiro.Desconto = 0; }
                            if (financeiro.Multa == null) { financeiro.Multa = 0; }
                            var total = financeiro.Valor - financeiro.Desconto + financeiro.Multa;
                            <tr class="@(financeiro.ValorPago >= total ? "text-success" : "") @(financeiro.DataVencimento < DateTime.Now.AddDays(-1) && (financeiro.ValorPago < total || financeiro.ValorPago == null) ? "text-danger" : "")">
                                <td>@financeiro.Nome</td>
                                <td>@financeiro.Valor</td>
                                <td>@if (financeiro.Desconto != 0)
                                {@financeiro.Desconto}</td>
                                <td>@if (financeiro.Multa != 0)
                                {@financeiro.Multa}</td>
                                <td>@total</td>
                                <td>@financeiro.ValorPago</td>
                                <td>@Html.DisplayFor(d => financeiro.FormaPagamento)</td>
                                <td>@financeiro.DataGerada.ToString("dd/MM/yyyy")</td>
                                <td>@financeiro.DataVencimento.ToString("dd/MM/yyyy")</td>
                                <td>@financeiro.Pessoa.Nome</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </li>
        </ul>
    </div>

        @foreach (var matricula in Model.Matriculas)
        {
            <div class="tab-pane fade" id="@matricula.Curso.Nome@matricula.Id" role="tabpanel" aria-labelledby="profile-tab">
                <br />
                <h2>@matricula.Curso.Nome</h2>
                <b>@Html.DisplayFor(d => matricula.DispSala.Dia)</b> às <b>@matricula.DispSala.Hora.ToString("00:'00'h")</b> com <b>@matricula.DispSala.Professor.Nome</b> - <b>@matricula.DispSala.Sala.Nome</b>
                <br /><br />
                <div class="row">
                    <div class="col-md-8">
                        <ul class="list-group">
                            <li class="list-group-item active">Pacotes de Aula <a asp-controller="PacoteCompra" asp-action="Form" asp-route-matriculaId="@matricula.Id" class="btn btn-success"><i class="fas fa-plus-circle"></i></a></li>
                            <li class="list-group-item">
                                <table class="table table-sm table-hover">
                                    <tbody>
                                        @foreach (var pacoteCompra in matricula.PacoteCompras)
                                        {
                                            <tr class="row">
                                                <td class="col-md-3">@pacoteCompra.PacoteAula.Nome</td>
                                                <td class="col-md-4">
                                                    <div class="progress" style="margin-top: .30rem;">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 27.27272727%" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100">12 aulas</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Calendário de aulas">
                                                        <a><i class="far fa-calendar-alt btn text-info"></i></a>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Contrato">
                                                        <a><i class="far fa-file-pdf btn text-danger"></i></a>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Trancar">
                                                        <a><i class="far fa-pause-circle btn text-success"></i></a>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Cancelar">
                                                        <a><i class="far fa-times-circle btn text-danger"></i></a>
                                                    </span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        }
    </div>


