@model Aluno
@{
    ViewData["Title"] = "Aluno";
}

@section Styles {
    <link type="text/css" rel="stelysheet" href="~/css/tabelas.css" />
    <style>
        .my-modal-body {
            padding-left: 0;
            padding-right: 0;
        }

        .my-modal {
            max-width: 95% !important;
        }

        .my-modal-matricula {
            max-width: 70% !important;
        }
    </style>
}

<div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        @if (Model.Foto != null)
                        {
                            <a href="#">
                                <img src="@Model.Foto" class="rounded-circle">
                            </a>
                        }
                        else
                        {
                            <a href="#">
                                <img src="~/img/user.png" class="rounded-circle">
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                <div class="d-flex justify-content-between">
                    <a asp-action="Form" asp-route-alunoId="@Model.Id" class="btn btn-sm btn-info mr-4"><i class="fas fa-user"></i> Dados</a>
                    <a asp-controller="WebCam" asp-action="Index" class="btn btn-sm btn-default float-right" asp-route-pessoaId="@Model.Id" asp-route-rota="aluno"><i class="fas fa-camera"></i> Foto</a>
                </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
                <div class="row">
                    <div class="col">
                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                            <div>
                                <span class="heading">@Model.Matriculas.Count</span>
                                <span class="description">Matrícula@(Model.Matriculas.Count == 1 ? "" : "s")</span>
                            </div>
                            <div>
                                <span class="heading">@Model.Matriculas.Where(m => m.DispSala != null).ToList().Count</span>
                                <span class="description">Ativa@(Model.Matriculas.Where(m => m.DispSala != null).ToList().Count == 1 ? "" : "s")</span>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h3>
                        @Model.Nome                        <span class="font-weight-light">, @Model.Idade()</span>
                    </h3>
                    <div class="h5 font-weight-300">
                        <i class="fas fa-home"></i> @Model.Endereco.Logradouro, @Model.Endereco.Numero - @Model.Endereco.Bairro - @Model.Endereco.Cidade / @Html.DisplayFor(d => Model.Endereco.UF) - @Model.Endereco.CEP
                    </div>
                    <div class="h5 font-weight-300">
                        <i class="fas fa-id-card"></i> @Model.CPF
                    </div>
                    <div class="h5 font-weight-300">
                        <i class="far fa-id-card"></i> @Model.RG
                    </div>
                    <div class="h5 mt-4">
                        <i class="far fa-envelope text-primary"></i> <a href="mailto:@Model.Email">@Model.Email</a>
                    </div>
                    <div>
                        @if (Model.Tel != null)
                        {<p><i class="fas fa-phone-alt"></i> @Model.Tel</p>}
                        @{
                            if (Model.Cel == null)
                            {
                                Model.Cel = "";
                            }
                            var cel = string.Empty;
                            for (int i = 0; i < Model.Cel.Length; i++)
                            {
                                if (Char.IsDigit(Model.Cel[i]))
                                {
                                    cel += Model.Cel[i];
                                }
                            }
                        }
                        @if (Model.Cel != null)
                        {<p><i class="fab fa-whatsapp text-success"></i> <a target="_blank" href="https://wa.me/@cel">@Model.Cel</a></p>}
                    </div>
                    <hr class="my-4">
                    <p>@Model.Observacao</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-block btn-primary btn-sm" data-toggle="modal" data-target="#modal-financeiro"><i class="fas fa-dollar-sign"></i> Financeiro</button>
                        <div class="modal fade" id="modal-financeiro" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                            <div class="modal-dialog modal- modal-dialog-centered modal- my-modal" role="document">
                                <div class="modal-content">



                                    <div class="modal-body my-modal-body">

                                        @await Html.PartialAsync("_Financeiro")

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">fechar</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <form asp-controller="Matricula" asp-action="Form" method="get">
                            <input name="alunoId" value="@Model.Id" type="hidden" />
                            <button type="submit" class="btn btn-block btn-success btn-sm"><i class="fas fa-chalkboard-teacher"></i> Matricular</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body" style="padding: 0;" id="card-body">
                <div class="table-responsive">
                    <table class="table align-items-center table-dark">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Curso</th>
                                <th scope="col">Professor</th>
                                <th scope="col">Financeiro</th>
                                <th scope="col">Pacote Ativo</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var matricula in Model.Matriculas)
                            {
                                <tr>
                                    <th scope="row">
                                        @matricula.Curso.Nome
                                    </th>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <a href="#" class="avatar rounded-circle mr-3">
                                                @if (matricula.DispSala == null)
                                                {
                                                    <img alt="Image" src="~/img/user.png" />
                                                }
                                                else if (matricula.DispSala.Professor.Foto == null)
                                                {
                                                    <img alt="Image" src="~/img/user.png" />
                                                }
                                                else
                                                {
                                                    <img alt="Image" src="@matricula.DispSala.Professor.Foto" />
                                                }
                                            </a>

                                            <div class="media-body">
                                                <span class="mb-0 text-sm">
                                                    @(matricula.DispSala == null ? "Cancelada" : matricula.DispSala.Professor.Nome.Split(' ')[0])
                                                </span>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        @{
                                            var pendente = false;
                                            List<Financeiro> financeiros = ViewBag.Atrasadas;
                                            foreach (var pacoteCompra in matricula.PacoteCompras)
                                            {
                                                pendente = financeiros.Any(f => f.PacoteCompra.Id == pacoteCompra.Id);
                                            }
                                        }
                                        <span class="badge badge-dot mr-4">
                                            <i class="@(pendente ? "bg-warning" : "bg-success")"></i> @(pendente ? "Pendente" : "Em dia")
                                        </span>
                                    </td>
                                    <td>
                                        @{
                                            var pacote = matricula.PacoteCompras.OrderByDescending(p => p.DataCompra).FirstOrDefault();
                                            var totalAulas = pacote == null ? 0 : pacote.Chamadas.Count;
                                            var aulasFeitas = pacote == null ? 0 : pacote.Chamadas.Where(c => c.Aula.AulaDada == true).ToList().Count;
                                            double porcentagem = 0;
                                            if (totalAulas > 0)
                                            {
                                                porcentagem = 100 * aulasFeitas / totalAulas;
                                            }
                                        }
                                        @if (pacote == null)
                                        {
                                            <span>Sem pacote adquirido</span>
                                        }
                                        else
                                        {
                                            <div class="d-flex align-items-center">
                                                <span class="mr-2">@porcentagem%</span>
                                                <div>
                                                    <div class="progress">
                                                        <div class="progress-bar @(porcentagem <= 90 ? "bg-success" : "bg-warning")" role="progressbar" aria-valuenow="@porcentagem" aria-valuemin="0" aria-valuemax="100" style="width: @porcentagem%;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" data-toggle="modal" data-target="#matricula-modal@(matricula.Id)">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>

                                            <!------------------------------------------------------->
                                            <div class="text-left">
                                                <div class="modal fade" id="matricula-modal@(matricula.Id)" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                                    <div class="modal-dialog modal- modal-dialog-centered modal- my-modal-matricula" role="document">
                                                        <div class="modal-content bg-gradient-default">

                                                            <div class="modal-header text-left">
                                                                <h2 class="modal-title text-white" id="modal-title-notification" style="margin-right: 1rem;">@matricula.Curso.Nome</h2>
                                                                @if (matricula.EncerramentoMatricula == null)
                                                                {
                                                                    <!-- Button trigger modal -->
                                                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal@(matricula.Id)">
                                                                        <i class="far fa-times-circle"></i> Cancelar Matrícula
                                                                    </button>

                                                                    <!-- Modal -->
                                                                    <div class="modal fade" id="exampleModal@(matricula.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                        <div class="modal-dialog" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title" id="exampleModalLabel">Cancelar matrícula</h5>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                        <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                </div>
                                                                                <form asp-controller="Matricula" asp-action="CancelaMatricula" method="post">
                                                                                    <div class="modal-body">
                                                                                        <div class="container">
                                                                                            <input name="Id" value="@matricula.Id" type="hidden" />
                                                                                            <div class="form-group">
                                                                                                <h5>Motivo</h5>
                                                                                                <select name="Motivo" class="form-control" asp-items="Html.GetEnumSelectList<Motivo>()"></select>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <h5>Outros</h5>
                                                                                                <input name="Outros" class="form-control" />
                                                                                            </div>


                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                                                                        <button type="submit" class="btn btn-primary">Cancelar</button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span class="text-white" aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>



                                                            <div class="modal-body text-left">


                                                                @if (matricula.DispSala != null)
                                                                {
                                                                    <span><b>@Html.DisplayFor(d => matricula.DispSala.Dia)</b> às <b>@matricula.DispSala.Hora.ToString("00:'00'h")</b> com <b>@matricula.DispSala.Professor.Nome</b> - <b style="margin-right:1rem;">@matricula.DispSala.Sala.Nome</b><span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Trocar horário"><a asp-controller="Matricula" asp-action="TrocaDispSala" asp-route-matriculaId="@matricula.Id" class="btn btn-success btn-sm"><i class="fas fa-exchange-alt"></i> Trocar Horário</a></span></span>
                                                                }
                                                                else
                                                                {
                                                                    <p>Matricula cancelada</p>
                                                                }
                                                                <p><b>Responsável financeiro: <a class="text-warning" asp-controller="RespFinanceiro" asp-action="Form" asp-route-respFinanceiroId="@matricula.RespFinanceiroId">@matricula.RespFinanceiro.Nome</a></b> <b>Telefone:</b> @matricula.RespFinanceiro.Tel <b>Celular:</b> @matricula.RespFinanceiro.Cel</p>
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="table-responsive">
                                                                            <table class="table align-items-center table-dark">
                                                                                <thead class="thead-dark">
                                                                                    <tr>
                                                                                        <th scope="col">Pacote</th>
                                                                                        <th scope="col">Aulas</th>
                                                                                        <th>
                                                                                            <a asp-controller="PacoteCompra" asp-action="Form" asp-route-matriculaId="@matricula.Id" class="btn btn-success btn-sm"><i class="fas fa-plus-circle"></i> Comprar Aulas</a>
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody class="bg-default">
                                                                                    @foreach (var pacoteCompra in matricula.PacoteCompras)
                                                                                    {
                                                                                        totalAulas = pacoteCompra.Chamadas.Count;
                                                                                        aulasFeitas = pacoteCompra.Chamadas.Where(c => c.Aula.AulaDada == true).ToList().Count;
                                                                                        porcentagem = 100;
                                                                                        if (totalAulas > 0)
                                                                                        {
                                                                                            porcentagem = 100 * aulasFeitas / totalAulas;
                                                                                        }


                                                                                        <tr>
                                                                                            <th scope="row">
                                                                                                @pacoteCompra.PacoteAula.Nome
                                                                                            </th>
                                                                                            <td>
                                                                                              
                                                                                                <div class="d-flex align-items-center">
                                                                                                    <span class="mr-2">@porcentagem%</span>
                                                                                                    <div>
                                                                                                        <div class="progress">
                                                                                                            <div class="progress-bar @(porcentagem <= 90 ? "bg-success" : "bg-warning")" role="progressbar" aria-valuenow="@porcentagem" aria-valuemin="0" aria-valuemax="100" style="width: @porcentagem%;"></div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="d-flex align-items-center">
                                                                                                <div class="avatar-group ">
                                                                                                    <a data-toggle="tooltip" data-placement="top" title="Calendário" class="avatar avatar-sm bg-blue" asp-controller="PacoteCompra" asp-action="PacoteCompra" asp-route-pacoteCompraId="@pacoteCompra.Id"><i class="far fa-calendar-alt text-xl"></i></a>
                                                                                                    <a data-toggle="tooltip" data-placement="top" title="Contrato" class="avatar avatar-sm bg-red" asp-controller="Contrato" asp-action="Contrato" asp-route-pacoteCompraId="@pacoteCompra.Id" target="_blank"><i class="far fa-file-pdf text-xl"></i></a>
                                                                                                    <a data-toggle="tooltip" data-placement="top" title="Trancar" class="avatar avatar-sm bg-success" asp-controller="Trancamento" , asp-action="Form" asp-route-pacoteCompraId="@pacoteCompra.Id"><i class="far fa-pause-circle text-xl"></i></a>
                                                                                                    <a data-toggle="tooltip" data-placement="top" title="Cancelar" class="avatar avatar-sm bg-danger" asp-controller="PacoteCompra" asp-action="CancelarPacote" asp-route-pacoteCompraId="@pacoteCompra.Id"><i class="far fa-times-circle text-xl"></i></a>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!------------------------------------------------------->
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts
    {
    <script>
        $("a#cancelaMatricula").click(function () {
            var cf = confirm("Tem certeza que deseja cancelar essa matrícula?");
            if (cf == true) {
                return true;
            }
            else {
                return false;
            }
        });

        $(function () {
            $('[data-toggle="popover"]').popover()

        });

    </script>
}