@model List<Aluno>
@{
    ViewData["Title"] = "Alunos";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/css/tabelas.css" />
}

<!-- <div class="card mt-5">
    <div class="card-header">
        <div class="row">
            <div class="col-md-2">
                <i class="fas fa-table"></i>
                Alunos
            </div>
            <div class="col-md-4">
                <label>Buscar Por Nome</label>
                <input type="text" id="BuscaNome" class="form-control"  />
            </div>
            <div class="col-md-3">
                <label>Buscar Por CPF</label>
                <input type="text" id="BuscaCpf" class="form-control mask-cpf" />
            </div>
            <div class="col-md-2" style="padding-top: 30px">
                <a asp-action="CarregarTodos"  class="btn btn-primary">Carregar Todos</a>
            </div>
            <div class="col-md-1" style="padding-top: 30px">
                <a asp-action="Form" class="btn btn-primary">Novo</a>
            </div>
        </div>
    </div> -->
<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-xl-11 col-md-10">
                <i class="fas fa-table"></i>
                Alunos
            </div>
            <div class="col-xl-1 col-md-2">
                <a asp-action="Form" class="btn btn-primary">Novo</a>
            </div>
        </div>
    </div>
    <div class="card-body" id="card-body">
        <div class="table-responsive">
            <table class="table table-sm align-items-center table-hover table-flush dataTable no-footer" id="dataTable" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>Nome</th>
                        <th class="text-center ">CPF</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var aluno in Model)
                    {
                        <tr>
                            <td>@aluno.Nome</td>
                            <td class="text-center">@aluno.CPF</td>
                            <td>
                                <div class="avatar-group">
                                    <a data-toggle="tooltip" data-placement="top" title="Informções" class="avatar avatar-sm" asp-action="Aluno" asp-route-alunoId="@aluno.Id">
                                        @if (aluno.Foto == null)
                                        {
                                            <img alt="Image placeholder" src="~/img/user.png" class="rounded-circle">
                                        }
                                        else
                                        {
                                            <img alt="Image placeholder" src="@aluno.Foto" class="rounded-circle">
                                        }

                                    </a>
                                    <a data-toggle="tooltip" data-placement="top" title="Financeiro" class="avatar avatar-sm bg-success" asp-controller="Financeiro" asp-action="Financeiro" asp-route-alunoId="@aluno.Id"><i class="fas fa-dollar-sign text-xl"></i></a>
                                    <a data-toggle="tooltip" data-placement="top" title="Dados" class="avatar avatar-sm bg-warning" asp-action="Form" asp-route-alunoId="@(aluno.Id)"><i class="fas fa-pencil-alt text-xl"></i></a>
                                </div>
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/js/Buscas/TabelaAluno/BuscarPorNomeOuCpf.js"></script>
    <script src="~/js/mask.js"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}