@model List<Funcionario>

@{
    ViewData["Title"] = "Index";
}

<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-11">
                <i class="fas fa-table"></i>
                Funcionários
            </div>
            <div class="col-md-1">
                <a asp-action="Form" class="btn btn-primary">Novo</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th class="text-center">CPF</th>
                        <th class="text-center">Ativo</th>
                        <th class="text-center">Informações</th>
                        <th class="text-center">Usuário</th>
                        <th class="text-center">Alterar</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th class="text-center">CPF</th>
                        <th class="text-center">Ativo</th>
                        <th class="text-center">Informações</th>
                        <th class="text-center">Usuário</th>
                        <th class="text-center">Alterar</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var funcionario in Model)
                    {
                        <tr>
                            <td>@funcionario.Nome</td>
                            <td class="text-center">@funcionario.CPF</td>
                            <td class="text-center">
                                <input asp-for="@funcionario.Ativo" onclick="return false" />
                            </td>
                            <td class="text-center">

                                <!-- Button trigger modal -->
                                <a class="btn text-primary" data-toggle="modal" data-target="#exampleModalLong@(funcionario.Id)">
                                    <i class="fas fa-info-circle"></i>
                                </a>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalLong@(funcionario.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Informações</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-left">
                                                <p><b>Nome: </b>@funcionario.Nome</p>
                                                <p><b>Data de Nascimento: </b>@funcionario.DataNascimento.ToString("dd/MM/yyyy")</p>
                                                <p><b>CPF: </b>@funcionario.CPF</p>
                                                <p><b>RG: </b>@funcionario.RG</p>
                                                <p><b>Logradouro: </b>@funcionario.Endereco.Logradouro</p>
                                                <p><b>Número: </b>@funcionario.Endereco.Numero</p>
                                                <p><b>Bairro: </b>@funcionario.Endereco.Bairro</p>
                                                <p><b>Complemento: </b>@funcionario.Endereco.Complemento</p>
                                                <p><b>Cidade: </b>@funcionario.Endereco.Cidade</p>
                                                <p><b>UF: </b>@funcionario.Endereco.UF</p>
                                                <p><b>CEP: </b>@funcionario.Endereco.CEP</p>
                                                <p><b>E-mail: </b>@funcionario.Email</p>
                                                <p><b>Telefone: </b>@funcionario.Tel</p>
                                                <p><b>Celular: </b>@funcionario.Cel</p>
                                                <p><b>Ativo: </b><input asp-for="@funcionario.Ativo" onclick="return false" /></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                                <a asp-action="Form" asp-route-funcionarioId="@(funcionario.Id)" class="btn btn-primary">Alterar Dados</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <a asp-controller="Account" asp-action="Register" asp-route-pessoaId="@funcionario.Id"><i class="fas fa-user"></i></a>
                            </td>
                            <td class="text-center">
                                <a asp-action="Form" asp-route-funcionarioId="@(funcionario.Id)"><i class="fas fa-pencil-alt text-primary"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}
