@model Aluno

<div class="card-header list-group-item active" style="height: 50px; padding-top:5px;">
    <p>Histórico Financeiro <a asp-controller="Financeiro" asp-action="Form" asp-route-alunoId="@Model.Id" class="btn btn-success btn-sm"><i class="fas fa-plus-circle text-xl"></i></a></p>
</div>
<div class="card-bory" id="card-body" style="height: 500px; overflow:auto;">
    <div class="table-responsive">
        <table class="table table-sm align-items-center table-hover table-flush dataTable no-footer">
            <thead class="thead-light">
                <tr class="small">
                    <th scope="col">Nome</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Desconto</th>
                    <th scope="col">Multa</th>
                    <th scope="col">Total</th>
                    <th scope="col">Valor Pago</th>
                    <th scope="col">Forma de Pagamento</th>
                    <th scope="col">Data de Criação</th>
                    <th scope="col">Data de Vencimento</th>
                    <th scope="col">Data do Pagamento</th>
                    <th scope="col">Responsável</th>
                    <th scope="col" class="text-center">Lançar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var financeiro in Model.Financeiros)
                {
                    if (financeiro.Valor == null) { financeiro.Valor = 0; }
                    if (financeiro.Desconto == null) { financeiro.Desconto = 0; }
                    if (financeiro.Multa == null) { financeiro.Multa = 0; }
                    var total = financeiro.Valor - financeiro.Desconto + financeiro.Multa;
                    <tr onclick="location.href = '/Financeiro/Form?alunoId=@Model.Id&financeiroId=@financeiro.Id';" style="cursor: pointer;" class="@(financeiro.ValorPago >= total ? "text-success" : "") @(financeiro.DataVencimento < NowHorarioBrasilia.GetNow().AddDays(-1) && (financeiro.ValorPago < total || financeiro.ValorPago == null) ? "text-danger" : "")">
                        <td>@financeiro.Nome</td>
                        <td>@financeiro.Valor</td>
                        <td>@if (financeiro.Desconto != 0)
                        {@financeiro.Desconto}</td>
                        <td>@if (financeiro.Multa != 0)
                        {@financeiro.Multa}</td>
                        <td>@total</td>
                        <td>@financeiro.ValorPago</td>
                        <td>@Html.DisplayFor(d => financeiro.FormaPagamento)</td>
                        <td>@financeiro.UltimaAlteracao.ToString("dd/MM/yyyy")</td>
                        <td>@financeiro.DataVencimento.ToString("dd/MM/yyyy")</td>
                        <td>@if (financeiro.DataPagamento != null)
                        { @financeiro.DataPagamento.Value.ToString("dd/MM/yyyy"); }</td>
                        <td>@financeiro.Pessoa.Nome</td>
                        <td class="text-center">
                            <a asp-controller="Financeiro" asp-action="Form" asp-route-alunoId="@Model.Id" asp-route-financeiroId="@financeiro.Id" class="text-success"><i class="fas fa-money-bill-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>