@model Aula
@{
    ViewData["Title"] = "Aula";
}

@section Styles{
    <link href="~/css/SwitchButton.css" rel="stylesheet" />
}

<h2>Aula</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<div class="list-group">
    <div class="list-group-item">
        <form role="form" method="post" asp-action="form">
            <input asp-for="Id" type="hidden" />
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Data"></label>
                        @if (User.IsInRole("Coordenacao") || User.IsInRole("Admin"))
                        {
                            <input asp-for="Data" type="date" class="form-control" />
                        }
                        else
                        {
                            <input asp-for="Data" type="date" disabled="disabled" class="form-control" />
                        }
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Hora</label>
                        <input id="Hora" class="form-control" name="Hora" type="number" value="@Model.Data.ToString("HH")" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="DataLimite">Limite para lançamento</label>
                        <input asp-for="DataLimite" class="form-control" type="date" />
                        <span asp-validation-for="DataLimite" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Curso"></label>
                        <input value="@Model.Curso.Nome" class="form-control" disabled />
                        <input asp-for="CursoId" type="hidden" />
                        <span asp-validation-for="Curso" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ProfessorId" class="col-md-2 control-label">Professor</label>
                        <div class="col-md-11">
                            <select asp-for="ProfessorId" class="form-control" asp-items="@ViewBag.Professores">
                                <option selected="selected" value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        @if (Model == null)
                        {
                            <label>Aula dada</label><br />
                            <label class="switch">
                                <input asp-for="AulaDada" checked id="switch" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        }
                        else
                        {
                            <label>Aula dada</label><br />
                            <label class="switch">
                                <input asp-for="AulaDada" id="switch" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        }
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="ProfessorId" class="col-md-2 control-label">Sala</label>
                        <div class="col-md-11">
                            <select asp-for="SalaId" class="form-control" asp-items="@ViewBag.Salas">
                                <option selected="selected" value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="DescAtividades"></label>
                        <textarea asp-for="DescAtividades" rows="10" cols="80">
                    </textarea>
                        <span asp-validation-for="DescAtividades" class="text-danger"></span>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.Chamadas.Count; i++)
            {
                <div class="row">

                    <input id="qtdAluno" value="@Model.Chamadas.Count" type="hidden" />
                    <input asp-for="Chamadas[i].Id" type="hidden" />
                    <input asp-for="Chamadas[i].AulaId" type="hidden" />
                    <input asp-for="Chamadas[i].PacoteCompraId" type="hidden" />
                    <input asp-for="Chamadas[i].Presenca" type="hidden">
                    <input asp-for="Chamadas[i].PacoteCompra.Matricula.Modulo" type="hidden"/>
                    <input asp-for="Chamadas[i].PacoteCompra.Matricula.Estrelas" type="hidden" />
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Chamadas[i].PacoteCompra.Matricula.Aluno"></label>
                            <input value="@Model.Chamadas[i].PacoteCompra.Matricula.Aluno.Nome" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label id="labelSwitch@(i)">Presente</label><br />
                                <label class="switch">
                                    <input id="switch@(i)" onclick="presenca(@i)" type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                                <span asp-validation-for="Chamadas[i].Presenca" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label asp-for="Chamadas[i].Observacao"></label>
                            <input asp-for="Chamadas[i].Observacao" class="form-control" />
                            <span asp-validation-for="Chamadas[i].Observacao" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            }
            <button type="submit" class="btn btn-success">Alterar</button>
            <a asp-action="Index" class="btn btn-primary">Voltar</a>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/mask.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('DescAtividades');
    </script>
    <script src="~/js/Aula.js"></script>
}