@model List<Chamada>
@{
    ViewData["Title"] = "HistoricoCompleto";
}

@section Styles{
    <style>
        .class-mensage {
            border: 1px solid;
            border-color: lightgray;
            border-radius: 3px;
            width: 95%;
            margin: auto;
            padding: 0 20px 10px 20px;
            margin-bottom: 10px;
            background-color: #e9ecef;
            opacity: 1;
        }

            .class-mensage label {
                border-bottom: 1px solid lightgray;
                width: 100%;
                margin: auto;
                text-align: center;
                display: block;
            }



    </style>
}

<div class="text-center">
    <h2>Histórico Completo</h2>
    <h4>@Model.First().PacoteCompra.Matricula.Aluno.Nome - @Model.First().PacoteCompra.Matricula.Curso.Nome</h4>
</div>
<div class="container">

    @foreach (var chamada in Model.OrderByDescending(c => c.Aula.Data))
    {

        <div class="class-mensage">
            <label>Histórico - @chamada.Aula.Data.ToString("dd/MM/yy") - @(chamada.Presenca == true ? "Presente" : "Faltou")</label>
            @Html.Raw(chamada.Aula.DescAtividades)
            @if (chamada.Observacao != null)
            {
                <hr />
                <div>@Html.Raw(chamada.Observacao)</div>
            }
        </div>

    }
</div>
