@model List<Chamada>
@{
    ViewData["Title"] = @Model.First().PacoteCompra.Matricula.Aluno.Nome + " - " + @Model.First().PacoteCompra.Matricula.Curso.Nome;
}

@section Styles{
    <style>
            

            .class-mensage label {
                border-bottom: 1px solid lightgray;
                width: 100%;
                margin: auto;
                text-align: center;
                display: block;
                margin-bottom: 1rem;
            }
    </style>
}

@if (Model.Count > 0)
{


        @foreach (var chamada in Model.OrderByDescending(c => c.Aula.Data))
        {
            <div class="card mt-2">
                <div class="card-body class-mensage">
                    <label>Histórico - @chamada.Aula.Data.ToString("dd/MM/yy") - @(chamada.Presenca == true ? "Presente" : "Faltou")</label>
                    @Html.Raw(chamada.Aula.DescAtividades)
                    @if (chamada.Observacao != null)
                    {
                        <hr />
                        <div>@Html.Raw(chamada.Observacao)</div>
                    }
                </div>
            </div>
            

        }

}
else
{
    <h1>Aluno sem histórico neste curso!</h1>
}
