@model DispSalaViewModel
@{
    ViewData["Title"] = "DispSala";
}

<h2>Disponibilidade de Sala</h2>

<hr />

<div class="row">
    <div class="col-md-3">
        <b>Nome: </b>@Model.Sala.Nome
    </div>
    <div class="col-md-3">
        <b>Capacidade: </b>@Model.Sala.Capacidade
    </div>
    <div class="col-md-3">
        <b>Cursos: </b>
        @{
            int cont = 0;
            foreach (var curso in Model.Sala.Cursos)
            {
                if (cont < Model.Sala.Cursos.Count - 1)
                {
                    @(curso.Curso.Nome + ", ")
                    cont++;
                }
                else
                {
                    @curso.Curso.Nome
                }
            }
        }
    </div>
</div>
<br />
@await Html.PartialAsync("_Message")
<div class="list-group">
    <div class="list-group-item">
        <div asp-validation-summary="All"></div>
        <form role="form" method="post" asp-action="dispSala">
            <input asp-for="Sala.Id" type="hidden" />
            <input asp-for="DispSala.Sala.Id" type="hidden" />
            <input asp-for="DispSala.Id" type="hidden" />
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="DispSala.Dia" class="col-md-2 control-label"></label>
                        <div class="col-md-11">
                            <select asp-for="DispSala.Dia" autofocus="autofocus" required class="form-control" asp-items="Html.GetEnumSelectList<Dia>()">
                                <option selected="selected" value=""></option>
                            </select>
                            <span asp-validation-for="DispSala.Dia" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="DispSala.Hora"></label>
                        <input asp-for="DispSala.Hora" class="form-control" type="number" required="required" />
                        <span asp-validation-for="DispSala.Hora" class="text-danger" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="DispSala.Professor.Id" class="col-md-2 control-label">Professor</label>
                        <div class="col-md-11">
                            <select asp-for="DispSala.Professor.Id" class="form-control" asp-items="Model.Professores">
                                <option selected="selected" value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-1" style="padding-top:30px">
                    <button type="submit" class="btn btn-success form-control">@(Model.DispSala == null ? "Incluir" : "Alterar")</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br />

<div class="row" style="padding-left: 15px;">
    <ul class="list-group col-md-2">
        <li class="list-group-item list-group-item-primary"><b>Segunda-feira</b></li>
        @foreach (var dispSala in Model.Sala.DispSalas.OrderBy(s => s.Hora))
        {
            if (dispSala.Dia == Dia.SEGUNDA)
            {
                <li class="list-group-item list-group-item-action">
                    @dispSala.Hora.ToString("00:'00'h")<br />
                    @dispSala.Professor.Nome<br />
                    <br />
                    <div class="row ">
                        <div class="col-3">
                            <a asp-action="DispSala" asp-route-salaId="@Model.Sala.Id" asp-route-dispSalaId="@dispSala.Id"><i class="fas fa-pencil-alt"></i></a>
                        </div>
                        <div class="col-3">
                            <a asp-action="ExcluirDispSala" id="excluir" asp-route-salaId="@Model.Sala.Id" asp-route-dispSalaId="@dispSala.Id"><i class="fas fa-trash-alt text-danger"></i></a>
                        </div>
                    </div>

                </li>
            }
        }
    </ul>
    <ul class="list-group col-md-2">
        <li class="list-group-item list-group-item-primary"><b>Terça-feira</b></li>
        @foreach (var dispSala in Model.Sala.DispSalas.OrderBy(s => s.Hora))
        {
            if (dispSala.Dia == Dia.TERCA)
            {
                <li class="list-group-item list-group-item-action">
                    @dispSala.Hora.ToString("00:'00'h")<br />
                    @dispSala.Professor.Nome<br />
                    <br />
                    <div class="row">
                        <div class="col-3 text-center">
                            <a asp-action="DispSala" asp-route-salaId="@Model.Sala.Id" asp-route-dispSalaId="@dispSala.Id"><i class="fas fa-pencil-alt"></i></a>

                        </div>
                        <div class="col-3 text-center">
                            <a asp-action="ExcluirDispSala" id="excluir" asp-route-salaId="@Model.Sala.Id" asp-route-dispSalaId="@dispSala.Id"><i class="fas fa-trash-alt text-danger"></i></a>
                        </div>
                    </div>

                </li>
            }
        }
    </ul>
    <ul class="list-group col-md-2">
        <li class="list-group-item list-group-item-primary"><b>Quarta-feira</b></li>
        @foreach (var dispSala in Model.Sala.DispSalas.OrderBy(s => s.Hora))
        {
            if (dispSala.Dia == Dia.QUARTA)
            {
                <li class="list-group-item list-group-item-action">
                    @dispSala.Hora.ToString("00:'00'h")<br />
                    @dispSala.Professor.Nome<br />
                    <br />
                    <div class="row">
                        <div class="col-3 text-center">
                            <a asp-action="DispSala" asp-route-salaId="@Model.Sala.Id" asp-route-dispSalaId="@dispSala.Id"><i class="fas fa-pencil-alt"></i></a>

                        </div>
                        <div class="col-3 text-center">
                            <a asp-action="ExcluirDispSala" id="excluir" asp-route-salaId="@Model.Sala.Id" asp-route-dispSalaId="@dispSala.Id"><i class="fas fa-trash-alt text-danger"></i></a>
                        </div>
                    </div>

                </li>
            }
        }
    </ul>
    <ul class="list-group col-md-2">
        <li class="list-group-item list-group-item-primary"><b>Quinta-feira</b></li>
        @foreach (var dispSala in Model.Sala.DispSalas.OrderBy(s => s.Hora))
        {
            if (dispSala.Dia == Dia.QUINTA)
            {
                <li class="list-group-item list-group-item-action">
                    @dispSala.Hora.ToString("00:'00'h")<br />
                    @dispSala.Professor.Nome<br />
                    <br />
                    <div class="row">
                        <div class="col-3 text-center">
                            <a asp-action="DispSala" asp-route-salaId="@Model.Sala.Id" asp-route-dispSalaId="@dispSala.Id"><i class="fas fa-pencil-alt"></i></a>

                        </div>
                        <div class="col-3 text-center">
                            <a asp-action="ExcluirDispSala" id="excluir" asp-route-salaId="@Model.Sala.Id" asp-route-dispSalaId="@dispSala.Id"><i class="fas fa-trash-alt text-danger"></i></a>
                        </div>
                    </div>

                </li>
            }
        }
    </ul>
    <ul class="list-group col-md-2">
        <li class="list-group-item list-group-item-primary"><b>Sexta-feira</b></li>
        @foreach (var dispSala in Model.Sala.DispSalas.OrderBy(s => s.Hora))
        {
            if (dispSala.Dia == Dia.SEXTA)
            {
                <li class="list-group-item list-group-item-action">
                    @dispSala.Hora.ToString("00:'00'h")<br />
                    @dispSala.Professor.Nome<br />
                    <br />
                    <div class="row">
                        <div class="col-3 text-center">
                            <a asp-action="DispSala" asp-route-salaId="@Model.Sala.Id" asp-route-dispSalaId="@dispSala.Id"><i class="fas fa-pencil-alt"></i></a>

                        </div>
                        <div class="col-3 text-center">
                            <a asp-action="ExcluirDispSala" id="excluir" asp-route-salaId="@Model.Sala.Id" asp-route-dispSalaId="@dispSala.Id"><i class="fas fa-trash-alt text-danger"></i></a>
                        </div>
                    </div>

                </li>
            }
        }
    </ul>
    <ul class="list-group col-md-2">
        <li class="list-group-item list-group-item-warning"><b>Sábado</b></li>
        @foreach (var dispSala in Model.Sala.DispSalas.OrderBy(s => s.Hora))
        {
            if (dispSala.Dia == Dia.SABADO)
            {
                <li class="list-group-item list-group-item-action">
                    @dispSala.Hora.ToString("00:'00'h")<br />
                    @dispSala.Professor.Nome<br />
                    <br />
                    <div class="row">
                        <div class="col-3 text-center">
                            <a asp-action="DispSala" asp-route-salaId="@Model.Sala.Id" asp-route-dispSalaId="@dispSala.Id"><i class="fas fa-pencil-alt"></i></a>

                        </div>
                        <div class="col-3 text-center">
                            <a asp-action="ExcluirDispSala" id="excluir" asp-route-salaId="@Model.Sala.Id" asp-route-dispSalaId="@dispSala.Id"><i class="fas fa-trash-alt text-danger"></i></a>
                        </div>
                    </div>

                </li>
            }
        }
    </ul>

</div>
<br />

@section Scripts
    {
    <script>
        $("a#excluir").click(function () {
            var cf = confirm("Tem certeza que deseja excluir o horário?");
            if (cf == true) {
                return true;
            }
            else {
                return false;
            }
        });
    </script>
}
