@model Sala
@{
    ViewData["Title"] = "Form";
}

<input id="rota" type="hidden" value="Sala" />
<div class="row">
    <div class="col-md-11">
        <h2 class="col-md-10">Sala</h2>
    </div>
    <div class="col-md-1">
        <a asp-action="Form" class="btn btn-primary">Novo</a>
    </div>
</div>
<br />
<div class="list-group">
    <div class="list-group-item">
        <div class="col-md-4">
            <div class="form-group">
                <label><i class="fas fa-search"></i> Buscar Por Nome</label>
                <input id="BuscaNome" class="form-control">
            </div>
        </div>
    </div>
</div>
<br />
<div class="list-group">
    <div class="list-group-item">
        <form role="form" method="post" asp-action="form">

            <input asp-for="Id" type="hidden" />

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Nome"></label>
                        <input asp-for="Nome" class="form-control">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Capacidade"></label>
                        <input asp-for="Capacidade" class="form-control" required />
                        <span asp-validation-for="Capacidade" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <div class="checkbox">
                            @if (Model == null)
                            {
                                <label asp-for="Ativo">
                                    <input asp-for="Ativo" checked="checked" />
                                    @Html.DisplayNameFor(p => p.Ativo)
                                </label>
                            }
                            else
                            {
                                <label asp-for="Ativo">
                                    <input asp-for="Ativo" />
                                    @Html.DisplayNameFor(p => p.Ativo)
                                </label>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox">
                            @if (Model == null)
                            {
                                <label asp-for="ConsideraAtrasadas">
                                    <input asp-for="ConsideraAtrasadas" checked="checked" />
                                    @Html.DisplayNameFor(p => p.ConsideraAtrasadas)
                                </label>
                            }
                            else
                            {
                                <label asp-for="ConsideraAtrasadas">
                                    <input asp-for="ConsideraAtrasadas" />
                                    @Html.DisplayNameFor(p => p.ConsideraAtrasadas)
                                </label>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">@(Model == null ? "Cadastrar" : Model.Id == null ? "Cadastrar" : "Alterar")</button>
            <a asp-action="Index" class="btn btn-primary">Voltar</a>
        </form>
    </div>
</div>
@section Scripts{
    <script src="~/js/Buscas/BuscarPorNome.js"></script>
}

