@model List<Sala>
@{
    ViewData["Title"] = "Salas";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/css/tabelas.css" />
}

<div class="card mt--5">
    <div class="card-header">
        <div class="row">
            <div class="col-md-10">
                <i class="fas fa-chalkboard"></i>
                Salas
            </div>
            <div class="col-md-2">
                <a asp-action="Form" class="btn btn-primary">Novo</a>
            </div>
        </div>
    </div>
    <div class="card-body" id="card-body">
        <div class="table-responsive">
            <table class="table table-sm align-items-center table-hover table-flush dataTable no-footer" id="dataTable" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>Nome</th>
                        <th class="text-center">Capacidade</th>
                        <th class="text-center">Cursos</th>
                        <th class="text-center">Ativo</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    @foreach (var sala in Model)
                    {
                        <tr>
                            <td>@sala.Nome</td>
                            <td class="text-center">@sala.Capacidade</td>
                            <td class="text-center">
                                <div class="avatar-group">
                                    <a data-toggle="tooltip" data-placement="top" title="Cursos" class="avatar avatar-sm bg-default" asp-action="SalaCurso" asp-route-salaId="@sala.Id"><i class="fas fa-chalkboard-teacher"></i></a>                                   
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input class="custom-control-input" asp-for="@sala.Ativo" onclick="return false" />
                                    <label class="custom-control-label" for="customCheck1"></label>
                                </div>
                            </td>                                                                                   
                            <td>
                                <div class="avatar-group">
                                    <a data-toggle="tooltip" data-placement="top" title="Disponibilidade de Sala" class="avatar avatar-sm bg-default" asp-action="DispSala" asp-route-salaId="@sala.Id"><i class="fas fa-calendar-alt"></i></a>
                                    <a data-toggle="tooltip" data-placement="top" title="Calendário" class="avatar avatar-sm bg-primary" asp-action="Calendario" asp-route-salaId="@sala.Id"><i class="far fa-calendar-alt"></i></a>
                                    <a data-toggle="tooltip" data-placement="top" title="Dados" class="avatar avatar-sm bg-warning" asp-action="Form" asp-route-salaId="@(sala.Id)"><i class="fas fa-pencil-alt"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}
