@model List<Sala>
@{
    ViewData["Title"] = "Index";
}

<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-11">
                <i class="fas fa-table"></i>
                Salas
            </div>
            <div class="col-md-1">
                <a asp-action="Form" class="btn btn-primary">Novo</a>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable table-striped" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th class="text-center">Capacidade</th>
                        <th class="text-center">Cursos</th>
                        <th class="text-center">Disp Sala</th>
                        <th class="text-center">Ativo</th>
                        <th class="text-center">Alterar</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th class="text-center">Capacidade</th>
                        <th class="text-center">Cursos</th>
                        <th class="text-center">Disp Sala</th>
                        <th class="text-center">Ativo</th>
                        <th class="text-center">Alterar</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var sala in Model)
                    {
                        <tr>
                            <td>@sala.Nome</td>
                            <td class="text-center">@sala.Capacidade</td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Cursos
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div class="list-group" style="width: 200px; height: 150px; overflow-y: scroll;">
                                            <a asp-action="SalaCurso" asp-route-salaId="@(sala.Id)" class="list-group-item list-group-item-action active">
                                                Alterar
                                            </a>
                                            @foreach (var curso in sala.Cursos)
                                            {
                                                <a href="#" class="list-group-item list-group-item-action">@curso.Curso.Nome</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center"><a asp-action="DispSala" asp-route-salaId="@sala.Id"><i class="far fa-calendar-alt"></i></a></td>
                            <td class="text-center">
                                <input asp-for="@sala.Ativo" onclick="return false" />
                            </td>
                            <td class="text-center">
                                <a asp-action="Form" asp-route-salaId="@(sala.Id)"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>
}

