@model MatriculaViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewBag.Professor.Nome</h2>

<hr>
@{ 
    string[] semana = { "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado"};
}

@for (int i = 2; i <= 7 ; i++)
{

    if(Model.Matriculas.Where(m => m.Dia == i).FirstOrDefault() != null)
    {
        <div class="panel panel-default">
            <div class="panel-heading">@semana[i-2]</div>
            <div class="panel-body">
                <table id="tabela" class="table table-hover">
                    <thead>
                        <tr class="row">
                            <th class="col-md-4">Aluno</th>
                            <th class="col-md-2">Hora</th>
                            <th class="col-md-2">RM</th>
                            <th class="col-md-2">Curso</th>
                            <th class="col-md-4">Ultimo rigistro</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var matricula in Model.Matriculas)
                        {
                            if (matricula.Dia == i)
                            {
                        <tr class="row">
                            <td class="col-md-4">
                                <a asp-action="form" asp-route-matriculaId="@matricula.Id">@matricula.Aluno.Nome</a>
                            </td>
                            <td class="col-md-2">@(matricula.Hora):00</td>
                            <td class="col-md-2">@matricula.Aluno.RM</td>
                            <td class="col-md-2">@matricula.Curso.Nome</td>
                            <td class="col-md-4">@matricula.UltimaAula?.ToString("dd/MM/yyyy")</td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}

