@model CandidatoViewModel
@{
    ViewData["Title"] = "Candidato";
}
@section Styles{
    <link href="~/css/Estrelas.css" rel="stylesheet" />
}

<h2>@Model.Candidato.Nome</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="dados-tab" data-toggle="tab" href="#dados" role="tab" aria-controls="dados" aria-selected="true">Dados</a>
    </li>

    @foreach (var demostrativa in Model.Candidato.Demostrativas)
    {
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#@demostrativa.Curso.Nome@demostrativa.Id" role="tab" aria-controls="@demostrativa.Curso.Nome@demostrativa.Id" aria-selected="false"><i class="fas fa-music text-success"></i> @demostrativa.Curso.Nome</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link text-success btn" asp-controller="Demostrativa" asp-action="Form" asp-route-candidatoId="@Model.Candidato.Id"><i class="fas fa-plus-circle"></i></a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="dados" role="tabpanel" aria-labelledby="dados-tab">
        <br />
        <div class="row">
            <div class="col-xl-3 col-md-4"><b>Nome: </b>@Model.Candidato.Nome</div>
            <div class="col-xl-3 col-md-4"><b>Data de Nascimento: </b>@Model.Candidato.DataNascimento.ToString("dd/MM/yyyy")</div>
            <div class="col-xl-3 col-md-4"><b>CPF: </b>@Model.Candidato.CPF</div>
            <div class="col-xl-3 col-md-4"><b>E-Mail: </b>@Model.Candidato.Email</div>
            <div class="col-xl-3 col-md-4"><b>Telefone: </b>@Model.Candidato.Tel</div>
            @{
                var cel = string.Empty;
                if (Model.Candidato.Cel != null && Model.Candidato.Cel != "")
                {
                    
                    for (int i = 0; i < Model.Candidato.Cel.Length; i++)
                    {
                        if (Char.IsDigit(Model.Candidato.Cel[i]))
                        {
                            cel += Model.Candidato.Cel[i];
                        }
                    }
                }

            }
            <div class="col-xl-3 col-md-4"><b>Celular: </b><a target="_blank" href="http://api.whatsapp.com/send?1=pt_BR&phone=55@(cel)">@Model.Candidato.Cel</a></div>
            <div class="col-xl-3 col-md-3"><b>Sexo: </b>@Html.DisplayFor(d => d.Candidato.Sexo)</div>
        </div>
        <br />
        <a asp-action="Form" asp-route-candidatoId="@Model.Candidato.Id" class="btn btn-primary">Alterar</a>
        @if (!Model.Candidato.Demostrativas.Any(d => d.DispSala != null))
        {
            <a asp-controller="Aluno" asp-action="Candidato" asp-route-candidatoId="@Model.Candidato.Id" class="btn btn-success">Matricular</a>
        }
    </div>

    @foreach (var demostrativa in Model.Candidato.Demostrativas)
    {
        <div class="tab-pane fade" id="@demostrativa.Curso.Nome@demostrativa.Id" role="tabpanel" aria-labelledby="profile-tab">
            <br />
            <h2>@demostrativa.Curso.Nome</h2>
            @if (demostrativa.DispSala == null)
            {
                <span><b>Demostrativa Finalizada - </b><b>@Html.DisplayFor(d => demostrativa.Dia)</b> às <b>@demostrativa.Hora.ToString("00:'00'h")</b> com <b>@(demostrativa.Professor == null ? "Professor não registrado" : demostrativa.Professor.Nome)</b> dia <b>@(demostrativa.Aula == null ? "Aula não foi dada" : demostrativa.Aula.Data.ToString("dd/MM/yyyy"))</b>. Marcado por <b>@demostrativa.Pessoa.Nome </b></span>
            }
            else
            {
                <span><b>@Html.DisplayFor(d => demostrativa.DispSala.Dia)</b> às <b>@demostrativa.DispSala.Hora.ToString("00:'00'h")</b> com <b>@demostrativa.DispSala.Professor.Nome</b> - <b>@demostrativa.DispSala.Sala.Nome</b> dia <b>@demostrativa.Aula.Data.ToString("dd/MM/yyyy")</b>. Marcado por <b>@demostrativa.Pessoa.Nome </b></span>
            }

            <br /><br />
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group text-center">
                        <label><b>Estrelas:</b></label>
                        <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                            <input asp-for="@demostrativa.Estrelas" disabled type="radio" id="star5" value="5" /><label for="star5" title="5 star"></label>
                            <input asp-for="@demostrativa.Estrelas" disabled type="radio" id="star4" value="4" /><label for="star4" title="4 star"></label>
                            <input asp-for="@demostrativa.Estrelas" disabled type="radio" id="star3" value="3" /><label for="star3" title="3 star"></label>
                            <input asp-for="@demostrativa.Estrelas" disabled type="radio" id="star2" value="2" /><label for="star2" title="2 star"></label>
                            <input asp-for="@demostrativa.Estrelas" disabled type="radio" id="star1" value="1" /><label for="star1" title="1 star"></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label><b>Presença:</b></label>
                    @if (demostrativa.Presenca == null)
                    {
                        <p>Presença não lançada</p>
                    }
                    else if (demostrativa.Presenca == true)
                    {
                        <p>Candidato presente</p>
                    }
                    else
                    {
                        <p>Candidato faltou</p>
                    }
                </div>
                <div class="col-md-2">
                    <label><b>Aula:</b></label>

                    @if (demostrativa.Aula == null)
                    {
                        <p>Aula cancelada</p>
                    }
                    else if (demostrativa.Aula.AulaDada == true)
                    {
                        <p>Aula dada</p>
                    }
                    else
                    {
                        <p>Aula ainda não foi dada</p>
                    }
                </div>
                <div class="col-md-2">
                    @if (demostrativa.Contratou == true)
                    {
                        <p>Contratou</p>
                    }
                    else if (demostrativa.Contratou == false)
                    {
                        <p>Não contratou</p>
                        <p>@Html.DisplayFor(d => demostrativa.Motivo)</p>
                        <p>@demostrativa.Outros</p>
                    }
                </div>

                <div class="col-md-2">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal@(demostrativa.Id)">
                        Finalizar Demostrativa
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal@(demostrativa.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModal@(demostrativa.Id)" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form role="form" asp-action="FinalizarDemostrativa" asp-controller="Demostrativa" method="post">
                                    <input asp-for="Demostrativa.Id" value="@demostrativa.Id" type="hidden" />
                                    <input asp-for="Demostrativa.PessoaId" value="@demostrativa.PessoaId" type="hidden" />
                                    <input asp-for="Demostrativa.Presenca" value="@demostrativa.Presenca" type="hidden" />
                                    <input asp-for="Demostrativa.Estrelas" value="@demostrativa.Estrelas" type="hidden" />
                                    <input asp-for="Demostrativa.CandidatoId" value="@demostrativa.CandidatoId" type="hidden" />
                                    <input asp-for="Demostrativa.DispSalaId" value="@demostrativa.DispSalaId" type="hidden" />
                                    <input asp-for="Demostrativa.CursoId" value="@demostrativa.CursoId" type="hidden" />
                                    <input asp-for="Demostrativa.AulaId" value="@demostrativa.AulaId" type="hidden" />
                                    <input asp-for="Demostrativa.Observacao" value="@demostrativa.Observacao" type="hidden" />
                                    <input asp-for="Demostrativa.ProfessorId" value="@demostrativa.ProfessorId" type="hidden" />
                                    <input asp-for="Demostrativa.Hora" value="@demostrativa.Hora" type="hidden" />
                                    <input asp-for="Demostrativa.Dia" value="@demostrativa.Dia" type="hidden" />
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row container">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Contratou"></label>
                                                    <input asp-for="Contratou" type="checkbox" />
                                                </div>
                                            </div>
                                            <div class="com-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Demostrativa.Motivo"></label>
                                                    <select asp-for="Demostrativa.Motivo" class="form-control" asp-items="Html.GetEnumSelectList<Motivo>()">
                                                        <option selected="selected" value=""></option>
                                                    </select>
                                                    <span asp-validation-for="Demostrativa.Motivo" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Demostrativa.Outros"></label>
                                                    <input class="form-control" asp-for="Demostrativa.Outros" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">

                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="Demostrativa.Confirmado" class="col-md-2 control-label"></label>
                        <div class="col-md-4">
                            <select asp-for="Demostrativa.Confirmado" id="confirm@(demostrativa.Id)" onchange="Confimacao('confirm@(demostrativa.Id)',@demostrativa.Id)" class="form-control" asp-items="Html.GetEnumSelectList<Confirmado>()">
                                <option selected="selected" value="@demostrativa.Confirmado">@Html.DisplayFor(d => demostrativa.Confirmado)</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">

                        <label>Observação</label>
                        <textarea name="Observacao" id="demostrativa.Observacao@(demostrativa.Id)" rows="10" cols="80">
                            @Html.Raw(demostrativa.Observacao)
                            </textarea>
                    </div>
                </div>

            </div>
        </div>
    }
</div>
<br />
@section Scripts{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/js/Aula.js"></script>
    <script src="~/js/Demostrativa.js"></script>
    @foreach (var demostrativa in Model.Candidato.Demostrativas)
    {
        <script>
            // Replace the <textarea id="editor1"> with a CKEditor
            // instance, using default configuration.
            Demostrativas('demostrativa.Observacao@(demostrativa.Id)', @demostrativa.Id);
        </script>
    }

}
