@model TodosHorariosViewModel
@{
    ViewData["Title"] = "Horários";
}

@section Styles{
    <link type="text/css" rel="stylesheet" href="~/css/tabelas.css" />
    <style>
        .botao {
            cursor: pointer;
        }

        .badge {
            position: absolute;
            right: 40px;
            z-index: 3;
            border: 2px solid white;
        }
    </style>
}



<div class="card mt-2">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <label><b>Filtrar por sala</b></label>
                <select id="porSala" class="form-control">
                    <option value=""></option>
                    <option value="null">Todas</option>
                    @foreach (var sala in ViewBag.Salas)
                    {
                        <option value="@sala.Id">@sala.Nome</option>
                    }
                </select>
            </div>
            <script src="~/vendor/jquery2/jquery.min.js"></script>
            <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
            <script src="~/js/jquery-ui.min.js"></script>
            <script src="~/js/TodosHorarios.js"></script>
        </div>
    </div>

    <div class="card-body" id="card-body">
        <div class="table-responsive">
            <table class="table table-sm align-items-center table-hover table-flush dataTable no-footer" id="dataTable" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>Curso</th>
                        <th class="text-center">Dia</th>
                        <th class="text-center">Hora</th>
                        <th>Período</th>
                        <th>Sala</th>
                        <th>Professor</th>
                        <th class="text-center">Vagas</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dispSala in Model.DispSalas)
                    {
                        @foreach (var curso in dispSala.Professor.Cursos.Where(c => dispSala.Sala.Cursos.Any(sc => sc.CursoId == c.CursoId)))
                        {
                            var cs = dispSala.Matriculas.FirstOrDefault();
                            Curso cursoCompara = null;
                            if (cs != null)
                            {
                                cursoCompara = cs.Curso;
                            }
                            else if (dispSala.Demostrativas.FirstOrDefault() != null)
                            {
                                var Demostrativa = dispSala.Demostrativas.FirstOrDefault();
                                cursoCompara = Demostrativa.Curso;
                            }
                            else
                            {
                                var reposicao = dispSala.Reposicoes.FirstOrDefault();
                                if (reposicao != null)
                                {
                                    cursoCompara = reposicao.Chamada.PacoteCompra.Matricula.Curso;
                                }
                            }

                            if (curso.Curso == cursoCompara || cursoCompara == null)
                            {
                                <tr>
                                    <td>@curso.Curso.Nome</td>
                                    <td class="text-center">@Html.DisplayFor(d => dispSala.Dia)</td>
                                    <td class="text-center">@dispSala.Hora.ToString("00:'00'h")</td>
                                    <td>
                                        @if (dispSala.Hora < 12)
                                        {
                                            <span>Manhã</span>
                                        }
                                        else if (dispSala.Hora < 19)
                                        {
                                            <span>Tarde</span>
                                        }
                                        else
                                        {
                                            <span>Noite</span>
                                        }
                                    </td>
                                    <td>@dispSala.Sala.Nome</td>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <a href="#" class="avatar rounded-circle mr-3">
                                                @if (dispSala.Professor.Foto == null)
                                                {
                                                    <img alt="Image" src="~/img/user.png" />
                                                }
                                                else
                                                {
                                                    <img alt="Image" src="@dispSala.Professor.Foto" />
                                                }
                                            </a>
                                            @{

                                                var professorSobrenome = dispSala.Professor.Nome.Split(' ')[1];
                                                if (professorSobrenome.Length > 0 && professorSobrenome.Length <= 3)
                                                {
                                                    professorSobrenome = dispSala.Professor.Nome.Split(' ')[2];
                                                }
                                            }

                                            <div class="media-body">
                                                <span data-toggle="tooltip" data-placement="top" title="@dispSala.Professor.Nome" class="mb-0 text-sm">
                                                    @(dispSala.Professor.Nome.Split(' ')[0]) @professorSobrenome
                                                </span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="text-center">
                                        @{
                                            var individual = false;
                                            var vagas = "info";
                                            foreach (var matricula in dispSala.Matriculas)
                                            {
                                                if (matricula.PacoteCompras != null)
                                                {
                                                    foreach (var pacoteCompra in matricula.PacoteCompras)
                                                    {
                                                        if (pacoteCompra.Chamadas != null && pacoteCompra.Chamadas.Any(c => c.Presenca == null) && pacoteCompra.PacoteAula.TipoAula == TipoAula.INDIVIDUAL)
                                                        {
                                                            individual = true;
                                                            break;
                                                        }
                                                    }
                                                }
                                            }
                                            foreach (var reposicao in dispSala.Reposicoes)
                                            {
                                                if (reposicao.Chamada.PacoteCompra.Matricula.PacoteCompras != null)
                                                {
                                                    foreach (var pacoteCompra in reposicao.Chamada.PacoteCompra.Matricula.PacoteCompras)
                                                    {
                                                        if (pacoteCompra.Chamadas != null && pacoteCompra.Chamadas.Any(c => c.Presenca == null) && pacoteCompra.PacoteAula.TipoAula == TipoAula.INDIVIDUAL)
                                                        {
                                                            individual = true;
                                                            break;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        <!-- Button trigger modal -->
                                        <div class="avatar-group">
                                            @{

                                                vagas = (dispSala.Matriculas.Count + dispSala.Reposicoes.Count + dispSala.Demostrativas.Count) == 0 ? "success" : vagas;
                                                vagas = (dispSala.Matriculas.Count + dispSala.Reposicoes.Count + dispSala.Demostrativas.Count) >= dispSala.Sala.Capacidade ? "danger" : vagas;
                                                vagas = individual ? "danger" : vagas;
                                                vagas = dispSala.Demostrativas.Count > 0 ? "yellow" : vagas;
                                                vagas = dispSala.Ativo ? vagas : "danger";
                                            }
                                            @if (individual)
                                            {
                                                <span class="badge badge-pill bg-@vagas">
                                                    <span style="display:none">0</span>I
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-pill bg-@vagas">
                                                    @(dispSala.Sala.Capacidade - dispSala.Matriculas.Count - dispSala.Reposicoes.Count - dispSala.Demostrativas.Count)
                                                </span>
                                            }
                                            <a class="avatar botao avatar-sm bg-@vagas" data-toggle="modal" data-target="#exampleModalLong@(dispSala.Id)">

                                                <i class="fas fa-users"></i>
                                            </a>



                                        </div>



                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalLong@(dispSala.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                            <div class="modal-dialog" style="max-width: 50%" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Alunos matriculados neste horário</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-left">
                                                        <h4>Alunos</h4>
                                                        <table class="table table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Aluno</th>
                                                                    <th scope="col" class="text-center">Idade</th>
                                                                    <th scope="col" class="text-center">Módulo</th>
                                                                    <th scope="col" class="text-center">Estrelas</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var matricula in dispSala.Matriculas)
                                                                {
                                                                    int now = int.Parse(NowHorarioBrasilia.GetNow().ToString("yyyyMMdd"));
                                                                    int dob = int.Parse(matricula.Aluno.DataNascimento.ToString("yyyyMMdd"));
                                                                    int age = (now - dob) / 10000;
                                                                    <tr>
                                                                        <td>
                                                                            <a asp-controller="Aluno" asp-action="Aluno" asp-route-alunoId="@matricula.Aluno.Id">
                                                                                @matricula.Aluno.Nome
                                                                            </a>
                                                                        </td>
                                                                        <td class="text-center">@age @(age > 1 ? "anos" : "ano")</td>
                                                                        <td class="text-center">@matricula.Modulo</td>
                                                                        <td>
                                                                            <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                                                                <input name="matricula-@(matricula.Id)" asp-for="@(matricula.Estrelas)" disabled type="radio" id="star5" value="5" /><label for="star5" title="5 star"></label>
                                                                                <input name="matricula-@(matricula.Id)" asp-for="@(matricula.Estrelas)" disabled type="radio" id="star4" value="4" /><label for="star4" title="4 star"></label>
                                                                                <input name="matricula-@(matricula.Id)" asp-for="@(matricula.Estrelas)" disabled type="radio" id="star3" value="3" /><label for="star3" title="3 star"></label>
                                                                                <input name="matricula-@(matricula.Id)" asp-for="@(matricula.Estrelas)" disabled type="radio" id="star2" value="2" /><label for="star2" title="2 star"></label>
                                                                                <input name="matricula-@(matricula.Id)" asp-for="@(matricula.Estrelas)" disabled type="radio" id="star1" value="1" /><label for="star1" title="1 star"></label>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                        @if (dispSala.Reposicoes.Count > 0)
                                                        {
                                                            <h4>Reposições</h4>
                                                            <table class="table table-sm">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">Aluno</th>
                                                                        <th scope="col" class="text-center">Idade</th>
                                                                        <th scope="col" class="text-center">Módulo</th>
                                                                        <th scope="col" class="text-center">Estrelas</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var reposicao in dispSala.Reposicoes)
                                                                    {
                                                                        int now = int.Parse(NowHorarioBrasilia.GetNow().ToString("yyyyMMdd"));
                                                                        int dob = int.Parse(reposicao.Chamada.PacoteCompra.Matricula.Aluno.DataNascimento.ToString("yyyyMMdd"));
                                                                        int age = (now - dob) / 10000;
                                                                        <tr>
                                                                            <td>
                                                                                <a asp-controller="Aluno" asp-action="Aluno" asp-route-alunoId="@reposicao.Chamada.PacoteCompra.Matricula.Aluno.Id">
                                                                                    @reposicao.Chamada.PacoteCompra.Matricula.Aluno.Nome
                                                                                </a>
                                                                            </td>
                                                                            <td class="text-center">@age @(age > 1 ? "anos" : "ano")</td>
                                                                            <td class="text-center">@reposicao.Chamada.PacoteCompra.Matricula.Modulo</td>
                                                                            <td>
                                                                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                                                                    <input asp-for="@reposicao.Chamada.PacoteCompra.Matricula.Estrelas" type="radio" id="star5" value="5" disabled /><label for="star5" title="5 star"></label>
                                                                                    <input asp-for="@reposicao.Chamada.PacoteCompra.Matricula.Estrelas" type="radio" id="star4" value="4" disabled /><label for="star4" title="4 star"></label>
                                                                                    <input asp-for="@reposicao.Chamada.PacoteCompra.Matricula.Estrelas" type="radio" id="star3" value="3" disabled /><label for="star3" title="3 star"></label>
                                                                                    <input asp-for="@reposicao.Chamada.PacoteCompra.Matricula.Estrelas" type="radio" id="star2" value="2" disabled /><label for="star2" title="2 star"></label>
                                                                                    <input asp-for="@reposicao.Chamada.PacoteCompra.Matricula.Estrelas" type="radio" id="star1" value="1" disabled /><label for="star1" title="1 star"></label>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                        @if (dispSala.Demostrativas.Count > 0)
                                                        {
                                                            <h4>Demonstrativa</h4>
                                                            <table class="table table-sm">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">Candidato</th>
                                                                        <th scope="col" class="text-center">Idade</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var Demostrativa in dispSala.Demostrativas)
                                                                    {
                                                                        int now = int.Parse(NowHorarioBrasilia.GetNow().ToString("yyyyMMdd"));
                                                                        int dob = int.Parse(Demostrativa.Candidato.DataNascimento.ToString("yyyyMMdd"));
                                                                        int age = (now - dob) / 10000;
                                                                        <tr>
                                                                            <td>
                                                                                <a asp-controller="Candidato" asp-action="Candidato" asp-route-candidatoId="@Demostrativa.Candidato.Id">
                                                                                    @Demostrativa.Candidato.Nome @(Demostrativa.Aula != null ? " - " + Demostrativa.Aula.Data.ToString("dd/MM/yy") : "")
                                                                                </a>
                                                                            </td>
                                                                            <td class="text-center">@age @(age > 1 ? "anos" : "ano")</td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>
}

