@model List<PacoteAula>
@{
    ViewData["Title"] = "Index";
}

<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-11">
                <i class="fas fa-table"></i>
                Pacotes de Aula
            </div>
            <div class="col-md-1">
                <a asp-action="Form" class="btn btn-primary">Novo</a>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th>Nome</th>
                        <th class="text-center">Qtd Aulas</th>
                        <th class="text-center">Valor</th>
                        <th class="text-center">Ativo</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="text-center">Id</th>
                        <th>Nome</th>
                        <th class="text-center">Qtd Aulas</th>
                        <th class="text-center">Valor</th>
                        <th class="text-center">Ativo</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var pacoteAula in Model)
                    {
                    <tr>
                        <td class="text-center">@pacoteAula.Id</td>
                        <td>@pacoteAula.Nome</td>
                        <td class="text-center">@pacoteAula.QtdAula</td>
                        <td class="text-center">@pacoteAula.Valor.ToString("R$ { 0:#,00}")</td>
                        <td class="text-center">
                            <input asp-for="@pacoteAula.Ativo" onclick="return false" />
                        </td>
                        <td class="text-center"><a asp-action="Form" asp-route-pacoteAulaId="@pacoteAula.Id"><i class="far fa-calendar-alt"></i></a></td>
                        <td class="text-center">
                            <input asp-for="@pacoteAula.Ativo" onclick="return false" />
                        </td>
                        <td class="text-center">
                            <a asp-action="Form" asp-route-pacoteAulaId="@(pacoteAula.Id)"><i class="fas fa-pencil-alt"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>
}