@model ProfessorPorDataViewModel
@{
    ViewData["Title"] = "Folha Ponto Professor";
    Layout = "_Print";
}

<div class="container d-print-none">
    <br />
    <br />
    <form role="form" asp-action="FolhaPontoProfessor" method="get">
        @if (Model.Professor != null)
        {
            <input name="professorId" value="@Model.Professor.Id" type="hidden" />
        }

        <div class="row">
            <div class="col-xl-3 col-md-4">
                <label asp-for="Inicial">Data Inicial</label>
                <input asp-for="Inicial" type="date" class="form-control" />
                <span asp-validation-for="Inicial" class="text-danger"></span>
            </div>
            <div class="col-xl-3 col-md-4">
                <label asp-for="Final">Data Final</label>
                <input asp-for="Final" type="date" class="form-control" />
                <span asp-validation-for="Final" class="text-danger"></span>
            </div>
            <div class="col-3" style="padding-top: 32px;">
                <button type="submit" class="btn btn-success">Filtrar</button>
            </div>
            <div class="col-1" style="padding-top: 32px;">
                <button class="btn btn-primary" onclick="imprimir()"><i class="fas fa-print"></i></button>
            </div>
        </div>
    </form>
</div>

@if (Model.Professores != null)
{
    foreach (var professor in Model.Professores)
    {
        if (professor != null)
        {
            <div class="container" style="padding: 20px 0 20px 0; page-break-before: always; page-break-inside: avoid;">
                <h2>@professor.Nome</h2>
                <br /><br />
                @{
                    var dias = professor.Aulas.Select(a => a.Data.Date).Distinct().OrderBy(a => a.Date).ToList();
                }
                <table class="table table-sm border-bottom">
                    <tbody>
                        @for (var i = 0; i < dias.Count; i++)
                        {
                            <tr>
                                <td>
                                    <b>@dias[i].Date.ToString("dd/MM/yyyy")</b> -

                                    @{
                                        var index = 1;
                                    }
                                    @foreach (var aula in professor.Aulas.OrderBy(a => a.Data).Where(a => a.Data.Date == dias[i].Date && a.Chamadas.Count > 0 && a.Chamadas.Any(c => c.Reposicao == null || c.Reposicao.Remunerada == true)))
                                    {

                                        @if (index == professor.Aulas.Where(a => a.Data.Date == dias[i].Date && a.Chamadas.Count > 0 && a.Chamadas.Any(c => c.Reposicao == null || c.Reposicao.Remunerada == true)).ToList().Count)
                                        {
                                            <a asp-controller="Aula" asp-action="Form" asp-route-aulaId="@aula.Id" style="text-decoration: none; color:black"><span>@aula.Data.ToString("HH:mm")<span class="badge badge-light">@aula.Chamadas.Where(c => c.Reposicao == null || c.Reposicao.Remunerada == true).ToList().Count</span></span></a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Aula" asp-action="Form" asp-route-aulaId="@aula.Id" style="text-decoration: none; color:black"><span>@aula.Data.ToString("HH:mm")<span class="badge badge-light">@aula.Chamadas.Where(c => c.Reposicao == null || c.Reposicao.Remunerada == true).ToList().Count</span> -</span></a>
                                        }
                                        index++;

                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <table class="table table-sm table-borderless">
                    <tr>
                        <td>
                            <b>Total de Aulas dadas: </b>@professor.Aulas.Where(a => a.Chamadas.Count > 0 && a.Chamadas.Any(c => c.Reposicao == null || c.Reposicao.Remunerada == true)).ToList().Count
                        </td>
                    </tr>
                    @{
                        if (professor.Aulas.Where(a => a.Chamadas.Count > 0 && a.Chamadas.Any(c => c.Reposicao == null || c.Reposicao.Remunerada == true)).ToList().Count > 0)
                        {
                            var r = professor.Aulas.Max(a => a.Chamadas.Where(c => c.Reposicao == null || c.Reposicao.Remunerada == true).ToList().Count);
                            for (var i = 1; i <= r; i++)
                            {
                                <tr>
                                    @if (professor.Aulas.Where(a => a.Chamadas.Any(c => c.Reposicao == null || c.Reposicao.Remunerada == true) && a.Chamadas.Count == i).ToList().Count > 0)
                                    {
                                    <td>
                                        @if (i == 1)
                                        {
                                            <b>Aulas com @i aluno: </b> @professor.Aulas.Where(a => a.Chamadas.Where(c => c.Reposicao == null || c.Reposicao.Remunerada == true).ToList().Count == i).ToList().Count
                                        }
                                        else
                                        {
                                            <b>Aulas com @i alunos: </b> @professor.Aulas.Where(a => a.Chamadas.Where(c => c.Reposicao == null || c.Reposicao.Remunerada == true).ToList().Count == i).ToList().Count
                                        }
                                    </td>
                                    }
                                </tr>
                            }
                        }

                    }
                </table>

                <br /><br />
                <div class="text-center">
                    <div class="rol-12"><div style="border-bottom: solid;border-color: black;width: 500px;margin-right: auto; margin-left: auto; border-width:thin"></div></div>
                    <br />
                    <div class="rol-12">@professor.Nome</div>
                </div>
            </div>
        }
    }
}

@section Scripts{
    <script>
        function imprimir() {
            window.print();
        }
    </script>
}
