@model List<Professor>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/css/tabelas.css" />
}

<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-10">
                <i class="fas fa-table"></i>
                Professores
            </div>
            <div class="col-md-2">
                <a asp-action="Form" class="btn btn-primary">Novo</a>
            </div>
        </div>
    </div>
    <div class="card-body" id="card-body">
        <div class="table-responsive">
            <table class="table table-sm align-items-center table-hover table-flush dataTable no-footer" id="dataTable" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>Nome</th>
                        <th class="text-center">CPF</th>
                        <th class="text-center">Cursos</th>
                        <th class="text-center">Ativo</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var professor in Model)
                    {
                        <tr>
                            <td>@professor.Nome</td>
                            <td class="text-center">@professor.CPF</td>
                            <td class="text-center">
                                <div class="avatar-group">
                                    <a data-toggle="tooltip" data-placement="top" title="Cursos" class="avatar avatar-sm bg-default" asp-action="ProfessorCurso" asp-route-professorId="@(professor.Id)"><i class="fas fa-chalkboard-teacher"></i></a>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input class="custom-control-input" asp-for="@professor.Ativo" onclick="return false" />
                                    <label class="custom-control-label" for="customCheck1"></label>
                                </div>
                            </td>
                            <td class="text-center">

                                <div class="avatar-group">
                                    <a data-toggle="tooltip" data-placement="top" title="Informções" class="avatar avatar-sm" asp-action="Professor" asp-route-professorId="@professor.Id">
                                        @if (professor.Foto == null)
                                        {
                                            <img alt="Image placeholder" src="~/img/user.png" class="rounded-circle">
                                        }
                                        else
                                        {
                                            <img alt="Image placeholder" src="@professor.Foto" class="rounded-circle">
                                        }

                                    </a>
                                    <a data-toggle="tooltip" data-placement="top" title="Calendário" class="avatar avatar-sm bg-default" asp-controller="Professor" asp-action="Calendario" asp-route-professorId="@(professor.Id)"><i class="far fa-calendar-alt text-xl"></i></a>
                                    <a data-toggle="tooltip" data-placement="top" title="Folha de ponto" class="avatar avatar-sm bg-primary" asp-action="FolhaPontoProfessor" target="_blank" asp-route-professorId="@professor.Id"><i class="far fa-file-alt text-xl"></i></a>
                                    <a data-toggle="tooltip" data-placement="top" title="Relatório" class="avatar avatar-sm bg-info" asp-action="RelatorioProfessor" asp-route-professorId="@professor.Id"><i class="far fa-file-alt text-xl"></i></a>
                                    <a data-toggle="tooltip" data-placement="top" title="Usuário" class="avatar avatar-sm bg-success" asp-controller="Account" asp-action="Register" asp-route-pessoaId="@professor.Id"><i class="far fa-user text-xl"></i></a>
                                    <a data-toggle="tooltip" data-placement="top" title="Dados" class="avatar avatar-sm bg-warning" asp-action="Form" asp-route-professorId="@(professor.Id)"><i class="fas fa-pencil-alt text-xl"></i></a>
                                </div>
                                <!-- Button trigger modal -->
                                
                                
                            </td>
                                
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}