@model HumanMusicSchoolManager.Models.Models.Professor

@{
    ViewData["Title"] = "Professor";
}

<h2>Professor</h2>

<div  class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        @if (Model.Foto == null)
                        {                           
                            <div style="width: 150px; height: 150px;" class="shadow-sm p-3 mb-5 bg-white text-center rounded-circle"><i style="font-size: 100px;" class="fas fa-user-alt"></i></div>
                        }
                        else
                        {
                            <img src="@Model.Foto" style="width: 250px;" alt="Foto do professor" class="shadow-sm p-3 bg-white rounded-circle">
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a asp-controller="WebCam" style="width: 250px; margin-top: 10px; margin-bottom: 15px;" asp-action="Index" class="btn btn-success" asp-route-pessoaId="@Model.Id" asp-route-rota="professor"><i class="fas fa-camera"></i> Alterar Foto</a>
                        <p><a asp-action="Form" style="width: 250px;" asp-route-alunoId="@Model.Id" class="btn btn-primary"><i class="far fa-file-alt"></i> Alterar Dados</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <p><b>Nome: </b>@Model.Nome</p>
                        <p><b>Data de Nascimento: </b>@Model.DataNascimento.ToString("dd/MM/yyyy")</p>
                        <p><b>CPF: </b>@Model.CPF</p>
                        <p><b>RG: </b>@Model.RG</p>
                        <p><b>Logradouro: </b>@Model.Endereco.Logradouro</p>
                        <p><b>Número: </b>@Model.Endereco.Numero</p>
                        <p><b>Bairro: </b>@Model.Endereco.Bairro</p>
                    </div>
                    <div class="col-md-6">
                        <p><b>Complemento: </b>@Model.Endereco.Complemento</p>
                        <p><b>Cidade: </b>@Model.Endereco.Cidade</p>
                        <p><b>UF: </b>@Model.Endereco.UF</p>
                        <p><b>CEP: </b>@Model.Endereco.CEP</p>
                        <p><b>E-Mail: </b>@Model.Email</p>

                        @{
                            if (Model.Cel == null)
                            {
                                Model.Cel = "";
                            }
                            var cel = string.Empty;
                            for (int i = 0; i < Model.Cel.Length; i++)
                            {
                                if (Char.IsDigit(Model.Cel[i]))
                                {
                                    cel += Model.Cel[i];
                                }
                            }
                        }

                        <p><b>Telefone: </b>@Model.Tel</p>
                        <p><b>Celular: </b><a target="_blank" href="http://api.whatsapp.com/send?1=pt_BR&phone=55@(cel)">@Model.Cel</a></p>
                        <p><b>Ativo: </b><input asp-for="@Model.Ativo" onclick="return false" /></p>

                        
                    </div>
                </div>
                
                
            </div>

        </div>
    </div>
</div>



