@model HumanMusicSchoolManager.Models.Models.Professor

@{
    ViewData["Title"] = "Professor";
}


<div class="container-fluid mt--7">

    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        @if (Model.Foto != null)
                        {
                            <a href="#">
                                <img src="@Model.Foto" class="rounded-circle">
                            </a>
                        }
                        else
                        {
                            <a href="#">
                                <img src="~/img/user.png" class="rounded-circle">
                            </a>
                        }

                    </div>
                </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                <div class="d-flex justify-content-between">
                    <a asp-action="Form" asp-route-professorId="@Model.Id" class="btn btn-sm btn-info mr-4"><i class="fas fa-user"></i> Dados</a>
                    <a asp-controller="WebCam" asp-action="Index" class="btn btn-sm btn-default float-right"  asp-route-pessoaId="@Model.Id" asp-route-rota="professor"><i class="fas fa-camera"></i> Foto</a>
                </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
                <div class="row">
                    <div class="col">
                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                            <div>
                                <span class="heading">@Model.Cursos.Count</span>
                                <span class="description">@(Model.Cursos.Count == 1 ? "Curso" : "Cursos")</span>
                            </div>
                            <div>
                                <span class="heading">@Model.DispSalas.Count</span>
                                <span class="description">Horários</span>
                            </div>
                            <div>
                                @{ 
                                    var matriculas = 0;
                                    @foreach (var ds in Model.DispSalas)
                                    {
                                        matriculas += ds.Matriculas.Count;
                                    }
                                }
                                <span class="heading">@matriculas</span>
                                <span class="description">Matrículas</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h3>
                        @Model.Nome                        <span class="font-weight-light">, @Model.Idade()</span>
                    </h3>
                    <div class="h5 font-weight-300">
                        <i class="fas fa-home"></i> @Model.Endereco.Logradouro, @Model.Endereco.Numero - @Model.Endereco.Bairro - @Model.Endereco.Cidade / @Html.DisplayFor(d => Model.Endereco.UF) - @Model.Endereco.CEP
                    </div>
                    <div class="h5 mt-4">
                        <i class="far fa-envelope text-primary"></i> <a href="mailto:@Model.Email">@Model.Email</a>
                    </div>
                    <div>
                        @if (Model.Tel != null)
                        {<p><i class="fas fa-phone-alt"></i> @Model.Tel</p>}
                        @{
                            if (Model.Cel == null)
                            {
                                Model.Cel = "";
                            }
                            var cel = string.Empty;
                            for (int i = 0; i < Model.Cel.Length; i++)
                            {
                                if (Char.IsDigit(Model.Cel[i]))
                                {
                                    cel += Model.Cel[i];
                                }
                            }
                        }
                        @if (Model.Cel != null)
                        {<p><i class="fab fa-whatsapp text-success"></i> <a target="_blank" href="https://wa.me/@cel">@Model.Cel</a></p>}
                    </div>
                    <hr class="my-4">
                    <p>CPF: @Model.CPF</p>
                    <p>RG: @Model.RG</p>
                </div>
            </div>
        </div>
    </div>
</div>




