@model List<RespFinanceiro>
@{
    ViewData["Title"] = "Index";
}


@section Styles {
    <link type="text/css" rel="stylesheet" href="~/css/tabelas.css" />
}
<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-11">
                <i class="fas fa-table"></i>
                Responsáveis Financeiro
            </div>
            <div class="col-md-1">
                <a asp-action="Form" class="btn btn-primary">Novo</a>
            </div>
        </div>
    </div>
    <div class="card-body" id="card-body">
        <div class="table-responsive">
            <table class="table table-sm align-items-center table-hover table-flush dataTable no-footer" id="dataTable" cellspacing="0">
                <thead class="thead-light">
                    <tr>
                        <th>Nome</th>
                        <th class="text-center">CPF</th>
                        <th class="text-center">Ativo</th>
                        <th class="text-center">Matrículas</th>
                        <th class="text-center">Alterar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var respFinanceiro in Model)
                    {
                        <tr>
                            <td>@respFinanceiro.Nome</td>
                            <td class="text-center">@respFinanceiro.CPF</td>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input class="custom-control-input" asp-for="@respFinanceiro.Ativo" onclick="return false" />
                                    <label class="custom-control-label" for="customCheck1"></label>
                                </div>
                            </td>
                            
                            <td class="text-center">

                                <!-- Button trigger modal -->
                                <a class="btn btn-sm bg-primary" data-toggle="modal" data-target="#aluno@(respFinanceiro.Id)">
                                    <i class="fas fa-users text-xl text-white"></i>
                                </a>

                                <!-- Modal -->
                                <div class="modal fade" id="aluno@(respFinanceiro.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Matrículas que é responsável</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-left">
                                                @foreach (var matricula in respFinanceiro.Matriculas)
                                                {
                                                    <p><b><a asp-controller="Aluno" asp-action="Aluno" asp-route-alunoId="@matricula.AlunoId">@matricula.Aluno.Nome</a></b> - @matricula.Curso.Nome - <span>@(matricula.DispSalaId == null ? "Não ativo" : "Ativo")</span></p>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                                <a asp-action="Form" asp-route-respFinanceiroId="@(respFinanceiro.Id)" class="btn btn-primary">Alterar Dados</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">

                                <a data-toggle="tooltip" data-placement="top" title="Alterar" class="btn btn-sm bg-success" asp-action="Form" asp-route-respFinanceiroId="@(respFinanceiro.Id)"><i class="fas fa-pencil-alt text-xl text-white"></i></a>
    
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}