@model PacoteCompraViewModel;
@{
    ViewData["Title"] = "Comprar Pacote";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/css/tabelas.css" />
}

<div class="card mt--5 bg-secondary shadow">
    <div class="card-header">        
        <div class="row">
            <div class="col-md-12">
                <b>Pacote: </b>
                <span>
                    @if (Model.PacoteAula.Id != null)
                    {
                        <span>@Model.PacoteAula.Nome com @Model.PacoteAula.QtdAula @Html.DisplayFor(d => d.PacoteAula.TipoAula) por @Model.PacoteAula.Valor.ToString("R$ #,###.00") em até @(Model.PacoteAula.Parcela)x de @((Model.PacoteAula.Valor / Model.PacoteAula.Parcela).ToString("R$ #,###.00"))</span>
                    }
                </span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="nav-wrapper">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 @(ViewBag.Aba == 1 ? "active" : "")" id="pacote-tab" data-toggle="tab" href="#pacote" role="tab" aria-controls="pacote" aria-selected="true"><i class="fas fa-box-open mr-2"></i>Pacote de Aula</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 @(ViewBag.Aba == 2 ? "active" : "")" id="comprar-tab" data-toggle="tab" href="#comprar" role="tab" aria-controls="comprar" aria-selected="false"><i class="fa fa-money-bill-alt mr-2"></i>Comprar</a>
                </li>
            </ul>
        </div>
        <div class="card shadow">
            <div class="card-body" style="padding-left:0; padding-right: 0;" id="card-body">
                <div class="tab-content" id="pacotes">
                    <div class="tab-pane fade @(ViewBag.Aba == 1 ? "active show" : "")" id="pacote" role="tabpanel" aria-labelledby="pacote-tab">
                        <div class="table-responsive">
                            <table class="table table-sm align-items-center table-hover table-flush dataTable no-footer" id="dataTable" cellspacing="0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Nome</th>
                                        <th class="text-center">Aulas</th>
                                        <th class="text-center">Tipo de aula</th>
                                        <th>Valor</th>
                                        <th class="text-center">Parcelas</th>
                                        <th>Valor da parcela</th>
                                        <th>Selecionar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var pacoteAula in Model.PacotesAula)
                                    {
                                        <tr>
                                            <td>@pacoteAula.Nome</td>
                                            <td class="text-center">@pacoteAula.QtdAula</td>
                                            <td class="text-center">@Html.DisplayFor(d => pacoteAula.TipoAula)</td>
                                            <td>@pacoteAula.Valor.ToString("R$ #,###.00")</td>
                                            <td class="text-center">@(pacoteAula.Parcela)x</td>
                                            <td>@((pacoteAula.Valor / pacoteAula.Parcela).ToString("R$ #,###.   00"))</td>
                                            <td>
                                                <a asp-action="Form" class="btn btn-success btn-sm" asp-route-matriculaId="@Model.Matricula.Id" asp-route-pacoteAulaId="@pacoteAula.Id">Selecionar</a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade @(ViewBag.Aba == 2 ? "active show" : "")" id="comprar" role="tabpanel" aria-labelledby="comprar-tab">
                        <form role="form" method="post" asp-action="Form">
                            <input asp-for="Matricula.Id" type="hidden" />
                            <input asp-for="PacoteAula.Id" type="hidden" />
                            <input asp-for="PacoteCompra.PacoteAula.Id" type="hidden" />
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    @if (Model.PacoteAula.Id != null)
                                    {
                                        <span>Comprar pacote de aula - @Html.DisplayFor(d => Model.Matricula.DispSala.Dia) às @Model.Matricula.DispSala.Hora.ToString("00:'00'h") com @Model.Matricula.DispSala.Professor.Nome</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger"><b>Selecione um pacote de aula!</b></span>
                                    }
                                </h5>
                            </div>
                            @if (Model.PacoteAula.Id != null)
                            {
                                <div class="card bg-secondary">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-md-4"><b>Nome: </b>@Model.PacoteAula.Nome</div>
                                            <div class="col-md-2"><b>Aulas: </b>@Model.PacoteAula.QtdAula</div>
                                            <div class="col-md-2"><b>Tipo Aula:</b> @Html.DisplayFor(d => d.PacoteAula.TipoAula)</div>
                                        </div>

                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="Valor"></label>
                                                    <input class="form-control" asp-for="Valor" />
                                                    <span asp-validation-for="Valor" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="QtdAula"></label>
                                                    <input class="form-control" asp-for="QtdAula" />
                                                    <span asp-validation-for="QtdAula" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="PacoteCompra.Desconto"></label>
                                                    <input asp-for="PacoteCompra.Desconto" type="number" class="form-control" />
                                                    <span asp-validation-for="PacoteCompra.Desconto" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label asp-for="PacoteCompra.QtdParcela" class="control-label">Parcelas</label>
                                                    <select asp-for="PacoteCompra.QtdParcela" class="form-control">
                                                        @for (int i = 1; i <= Model.PacoteAula.Parcela; i++)
                                                        {
                                                            <option value="@i">@i</option>
                                                        }
                                                    </select>
                                                    <span asp-validation-for="PacoteCompra.QtdParcela" class="text-danger" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="FormaPagamento" class="control-label"></label>
                                                    <div class="">
                                                        <select asp-for="FormaPagamento" class="form-control col-12" asp-items="@Html.GetEnumSelectList<FormaPagamento>()"></select>
                                                        <span asp-validation-for="FormaPagamento" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Vencimento"></label>
                                                    <input asp-for="Vencimento" type="date" class="form-control" />
                                                    <span asp-validation-for="Vencimento" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="PrimeiraAula"></label>
                                                    <input asp-for="PrimeiraAula" type="date" class="form-control" />
                                                    <span asp-validation-for="PrimeiraAula" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Total</label><br />
                                                    <b><span id="valorPacote"></span> em <span id="parcelas"></span>x de <span id="valorParcela"></span> no <span id="formaPagamento"></span></b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        @if (Model.PacoteAula.Id != null)
                                        {
                                            <button type="submit" class="btn btn-success">Finalizar compra</button>
                                        }
                                    </div>
                                </div>
                                }
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/js/pacoteCompra.js"></script>
}

