@model List<Matricula>
@{
    ViewData["Title"] = "Matrículas Canceladas";
}

<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-2">
                <i class="far fa-file-alt"></i>
                Matrículas Canceladas
            </div>
            <div class="col-md-8">
                <form role="form" asp-controller="Relatorio" asp-action="MatriculasCanceladas" method="get">
                    <div class="row">
                        <div class="col-md-5">
                            <label name="Inicial">Data Inicial</label>
                            <input name="Inicial" value="@ViewBag.Inicial.ToString("yyyy-MM-dd")" type="date" class="form-control" />
                        </div>
                        <div class="col-md-5">
                            <label name="Final">Data Final</label>
                            <input name="Final" value='@ViewBag.Final.ToString("yyyy-MM-dd")' type="date" class="form-control" />
                        </div>
                        <div class="col-md-2" style="padding-top: 32px;">
                            <button type="submit" class="btn btn-success">Filtrar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 text-center">
                <h4>Total:</h4> 
                <h5>@Model.Count</h5>
            </div>
            
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Aluno</th>
                        <th>Curso</th>
                        <th class="text-center">Matrícula</th>
                        <th class="text-center">Cancelado</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Aluno</th>
                        <th>Curso</th>
                        <th class="text-center">Matrícula</th>
                        <th class="text-center">Cancelado</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var matricula in Model)
                    {
                        <tr>
                            <td>@matricula.Aluno.Nome</td>
                            <td>@matricula.Curso.Nome</td>
                            <td class="text-center">@matricula.DataMatricula.ToString("dd/MM/yyyy")</td>
                            <td class="text-center">@matricula.EncerramentoMatricula.Value.ToString("dd/MM/yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script>

        $('#dataTable').DataTable({
            "order": [[0, 'asc']]
        });

    </script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}
